@import "partials/variables";
@import "bourbon/bourbon";


label {
    font-family: $pragmatica;
    font-weight: 500;
    font-size: 20px;

  .radio &, .checkbox & {
    text-transform: none;
    font-family: $opensans;
    font-weight: 100;
  }
}

.has-error {
  color: $error;

  .form-control {
    color: $error;
  }
}

.form-control {
  font-weight: 400;

  &.placeholder, &.ng-pristine {
    font-weight: 100;
  }
}

.radio, .checkbox, .error-radio, .error-checkbox {
  margin-top: 0px;
  margin-left: 20px;
}

.form-group {
  opacity: 1;

  &.ng-hide-remove {
    @include transition(all 0.15s linear);
  }

  &.ng-hide {
    opacity: 0;
  }

  .label-col {
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}

.required-symbol {
  color: $error;
}
