@import "partials/variables";
@import "partials/mixins";
@import "bourbon/bourbon";


label {
  text-transform: uppercase;

  .radio &, .checkbox & {
    text-transform: none;
  }
}

.centered {
  text-align: center;
}

.has-error {
  color: $error;

  .form-control {
    color: $error;
  }
}

.form-control {
  font-weight: 400;

  &.placeholder, &.ng-pristine {
    font-weight: 100;
  }
}

.radio, .checkbox, .error-radio, .error-checkbox {
  margin-top: 0px;
  margin-left: 20px;
}

.submit {
  margin-top: 10px;

}

.g-recaptcha div div {
    @include center-block();
}

.form-group {
  opacity: 1;

  &.ng-hide-remove {
    @include transition(all 0.15s linear);
  }

  &.ng-hide {
    opacity: 0;
  }

  .label-col {
    @media (min-width: $screen-sm-min) {
      text-align: right;
    }
  }
}

.required-symbol {
  color: $error;
}
