@import "partials/variables";

.return-statewide {
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  text-transform: uppercase;
  margin-top: 1.2em;
}

.search {
  h3 {
    margin-top: 0px;
  }
}

#mapFrame {
  margin-bottom: 20px;
}

#mapColumn {
  width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.resourceGroup {
  h3 {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .download-icon {
    margin-right: 1em;
    font-size: 1.2em;
  }

  .download-text {
    font-size: 1.1em;
  }

  a {
    display: block;
  }


  ul {
    margin-bottom: 20px;
    padding-left: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;

      a {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom: none;

        &:hover {
          background-color: $lightgrey;
          text-decoration: none;
        }
      }

      &:first-child a {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }

      &:last-child a {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
