@import "../static/bower_components/bourbon/dist/bourbon";
@import "partials/variables";

@import "partials/base";
@import "partials/navbar";
@import "partials/jumbotron";
@import "partials/twentytwenty";
@import "partials/home";
@import "partials/dataspot";
@import "partials/maps-and-data";
@import "partials/training";
@import "partials/custompages";
@import "partials/statewide-ortho";
@import "partials/2014-gis-forum";
