@import "partials/variables";
@import "bourbon/bourbon";
@import "partials/dataspot";
@import "partials/mapsanddata";


* {
	margin: 0;
}
html, body {
	height: 100%;
	font-size: 15px;
}

/* Custom Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
    }
}

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  font-family: $opensans;
  font-weight: 100;
  position: relative;
}

#contentMain {
	background: white;
}

.jumbotron {
  padding: 0px;
 // background: url(../images/bg/bluegrid.jpg) 0 0;
 background: none;
  margin-bottom: 0;
 // border-bottom: 1px solid #eaf3ff;

  a.btn {
  	position: absolute;
  	display: block;
  }


}

@media (min-width: 767px) {
  .jumbotron .container {
  	width: 100%;
  }
}

@media (min-width: 992px) {
  .jumbotron .container {
  	width: 970px;
  }
}

@media (min-width: 1200px) {
	.jumbotron .container {
	width: 1170px;
	}
}

/* Headers */
h1, h2, h3, h4 {
	font-family: $pragmatica;
	font-weight: 400;
}

h2 {
	color: $auburn;
}



/* Buttons */
.btn-tnris {
	color: white;
	background-color: $tnrisblue;
	border-color: $urgentblue;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: inset $urgentblue 0 0 7px;
	margin-top: 8px;

	&:hover {
		background: $urgentblue;
		color: white;
	}
}

.tag {
	border-radius: 10px;
	padding: 0 10px;
	background: $sky;
	border: 1px solid $tnrisblue;
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}
}


/* Nav bar */

.title-header {
	height: 25px;
	// background-image: radial-gradient(80% 50%, $urgentblue, $midsky);
	background: $tnrisblue;
	color: $sky;
	width: 100%;
	z-index: 1000;
	font-family: $pragmatica;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-weight: 100;

	span {
		margin-top: 3px;
	}

	a.contact {
	color: white;
	text-shadow: 1px 1px 1px $urgentblue;
		margin-top: 8px;

		&:hover {
		// background: $auburnoutline;
		color: $midgrey;
	}
	}
}


.navbar-nav>li>a {
	font-weight: 100;

	&.gio {
		background: url(../images/icons/sm_tx.png) 10px 14px no-repeat;
		padding-left: 35px;

		&:hover {
			background-position: 10px -26px;
		}
	}
}

a.navbar-twdb {
	font-size: 12px;
	color: white;
	margin-right: -	15px;
	margin-top: 7px;
	overflow: hidden;
	color: $sky;
	text-transform: uppercase;

	&:hover {
		text-decoration: none;
		color: white;
	}

	// span {
	// 	display: block;
	// 	text-indent: -9999px;
	// 	background: url(../images/twdb-logo.png) 0 0 no-repeat;
	// 	position: absolute;
	// 	width: 134px;
	// 	height: 37px;
	// 	top: 0;
	// 	right: 0;
	// }
}

#mainNav {
	height: 51px;
	width: 100%;
	z-index: 10000;
	border-radius: 0;

	&.navbar {
		margin-bottom: 0;
	}

	&.affix {
		top: 0;
	}
}

.navbar-collapse {
	background: $darkgrey;
}

#logoCollapse {
	background: url(../images/sm_logo_white.png) 0 0 no-repeat;
	width: 80px;
	height: 36px;
	float: left;
	z-index: 30000;
	text-indent: -9999px;
	margin-right: 20px;
	margin-top: 5px;
}

#aboutContact {
	margin-top: 8px;

	a {
		color: white;
		font-size: 14px;

		&:hover {
			text-decoration: none;
			color: $midgrey;
		}
	}
}

/* navbar dropdown */

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    font-size: 18px;

    small {
    	font-size: 12px;
    font-weight: 100;
    }

    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}



/* Nav bar Form */
#mainNav form.navbar-form  {

	&.searchForm {

	}

	input.form-control {
		}

	// button.btn {
	// 	margin-left: -40px;
	// 	width: 20px;
	// 	background: transparent;
	// }
}

/* Quick Nav */
/**************************************************/


#quickNav  {
	margin-bottom: 0;
	// @include background-image(linear-gradient(to top, #e7e7e7, white, white, white, white, white, transparent));
	// border-bottom: 1px solid #e2e2e2;
	position: relative;
	z-index: 0;

	.container {
		background: white;
	}

	ul.nav {
		width: 100%;
	}

	.nav>li>a:hover, .nav>li>a:focus {
		background: none;
	}

	li a {
	font-family: $pragmatica;
	font-weight: 500;
	font-size: 18px;
	padding-left: 40px;

		&:hover {
			background-color: none;
		}

		.iconContainer {
			width: 50px;
			height: 40px;
			margin-left: -50px;
			float: left;
			position: relative;
			background: url(../images/icons/quicknav.png)  0 no-repeat;
		}

		&.downloaddata-quick {
			
			.iconContainer {
			background-position: 0 -6px;
			}

		}

		&.orderdata-quick {

			.iconContainer {
			background-position: 0 -45px;
			}
		}

		&.wms-quick {
			.iconContainer {
			background-position: 0 -85px;
			}	
		}

		&.training-quick {
			color: #8a8e1d;

			.iconContainer {
			background-position: 0 -125px;
			}
		}

		&.hpids-quick {
			color: #ba2025;

			.iconContainer {
			background-position: 0 -165px;
			}
		}

		small {
			font-family: $opensans;
			font-weight: 100;
			font-size: 11px;
			color: $darkgrey;
			display: block;
			margin-top: -4px;
		}
	}
}

#mainNav.affix + #quickNav {
	margin-top: 54px;
}

#quickNav.navbar .nav>li>a:hover {
		background-color: none !important;
}


/* Footer */
#wrap {
	 min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -300px;
	width: 100%;
	position: relative;
}

#push, .footer {
	height: 300px;
}

.push {
	border: none;
}

.footer {
	background: $darkgrey;
	color: white;
	position: relative;
	z-index: 10000;
}

/* Updates */
#updates {

	time {
	font-size: 14px;
	display: block;
	}
}

/* Media Breaks */
// @media (min-width: $break-topsmall) {
// 	.title-header a.navbar-brand {
// 		text-indent: 0;
// 	}

// }


// @media (min-width: $break-med) {
// 	.title-header a.navbar-brand {
// 		font-size: 28px;
// 	}

// 	#updates .media {
// 		height: 150px;

// 		p {

// 		}
// 	}
// }


// @media (max-width: $break-large) {
	
// 	/* nav bar */
// 	.title-header a.btn.btn-tnris.pull-right.contact {
// 		text-indent: -9999px;
// 		padding: 6px 12px;
// 	}
// }

ul.trainingFront {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 18px;
		margin-bottom: 10px;
				font-weight: 400;

		strong {
			font-size: 14px;
			font-weight: 100;
		}

		a {
			font-family: $pragmatica;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

/* News Template - Single Page */
author {
	text-transform: uppercase;
}

.article {

	.byline {
		margin-bottom: 5px;
	}

	h2.headline {
	margin-top: 0;
	font-size: 30px;
	}

	img {
		margin-bottom: 15px;
	}
}

#allUpdates .article {
	border-bottom: 1px solid #eeeeee;

	&:last-child {
		border-bottom: none;
	}
}

/* Article Data Box */

.dataBox {
	padding: 20px; 
	padding-top: 0; 
	border: 1px #ccc solid; 
	width: 300px; 
	background: #f2f2f2; 
	margin-left: 20px; 
	margin-bottom: 20px;
}


/* Front Page Highlights */
#highlights {
	background: $lightgrey;
	position: relative;
	z-index: 10000;
	border-top: 1px solid $midgrey;
}

.highlightBox {
	margin-bottom: 30px;
	overflow: hidden;
}

#highlights h3 {
	font-weight: 100;
	font-size: 30px;
}

.highlightBox img {
	border-radius: 10px;
}

/* Common Page Elements */
.mainBlurb {
	font-size: 20px;
	margin-bottom: 10px;
	color: $middarkgrey;
	// max-width: 80%;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

	h4 {
	  margin-top: 0;
	}

	p:last-child {
	  margin-bottom: 0;
	}

	code, .highlight {
	  background-color: #fff;
	}
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
	  h4 {
	color: #B94A48;
	}
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
  h4 {
color: #C09853;
}

}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
   h4 {
color: #3A87AD;
}
}

.list-group-item.danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}