@import "partials/variables";
@import "bourbon/bourbon";
@import "partials/dataspot";
@import "partials/mapsanddata";


* {
	margin: 0;
}
html, body {
	height: 100%;
}

/* Custom Columns */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
    }
}

/* Move down content because we have a fixed navbar that is 50px tall */

body {
  font-family: $opensans;
  font-weight: 100;
}

.jumbotron {
  padding: 0px;
 // background: url(../images/bg/bluegrid.jpg) 0 0;
 background: none;
  margin-bottom: 0;
 // border-bottom: 1px solid #eaf3ff;

  a.btn {
  	position: absolute;
  	display: block;
  }
}

/* Headers */
h1, h2, h3, h4 {
	font-family: $pragmatica;
	font-weight: 400;
}

h2 {
	font-size: 25px;
	color: $auburn;
}



/* Buttons */
.btn-tnris {
	color: white;
	background-color: $auburn;
	border-color: $auburnoutline;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: inset $auburnoutline 0 0 7px;
	margin-top: 8px;

	&:hover {
		background: $auburnoutline;
	}
}

.tag {
	border-radius: 10px;
	padding: 0 10px;
	background: $sky;
	border: 1px solid $tnrisblue;
	font-weight: 600;

	&:hover {
		text-decoration: none;
	}
}


/* Nav bar */

.title-header {
	height: 50px;
	background: #1e8dc1;
	color: white;
	width: 100%;
	z-index: 1000;

	a.navbar-brand {
		color: white;
		background: url(../images/sm_logo_white.png) 0 0 no-repeat;
		padding-left: 100px;
		font-family: "pragmatica-web-condensed",sans-serif;
		font-weight: 300;
		font-size: 16px;
		letter-spacing: 1px;
   		text-indent: -9999px;
   		float: left;
	}

	a.contact {
	color: white;
		margin-top: 8px;

		&:hover {
		// background: $auburnoutline;
		color: $midgrey;
	}
	}
}


.navbar-nav>li>a {
	font-weight: 100;

	&.gio {
		background: url(../images/icons/sm_tx.png) 10px 14px no-repeat;
		padding-left: 35px;

		&:hover {
			background-position: 10px -26px;
		}
	}
}

a.navbar-twdb {
	margin-top: 7px;
	float: left;
	display: block;
	width: 157px;
	height: 37px;
	font-size: 10px;
	color: white;
	position: relative;
	overflow: hidden;
	padding-top: 5px;
	color: $sky;

	&:hover {
		text-decoration: none;
	}

	span {
		display: block;
		text-indent: -9999px;
		background: url(../images/twdb-logo.png) 0 0 no-repeat;
		position: absolute;
		width: 134px;
		height: 37px;
		top: 0;
		right: 0;
	}
}

#mainNav {
	height: 51px;
	width: 100%;
	z-index: 2000;
	border-radius: 0;

	&.affix {
		top: 0;
	}
}

/* navbar dropdown */

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    font-size: 18px;

    small {
    	font-size: 12px;
    font-weight: 100;
    }

    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &>.divider {
    background-color: #000;
  }
}


/* Nav bar Form */
#mainNav form.navbar-form  {

	&.searchForm {

	}

	input.form-control {
		}

	button.btn {
		margin-left: -40px;
		width: 20px;
		background: transparent;
	}
}

/* Quick Nav */
/**************************************************/
#quickNav.navbar  {
	margin-bottom: 0;
	// @include background-image(linear-gradient(to top, #e7e7e7, white, white, white, white, white, transparent));
	// border-bottom: 1px solid #e2e2e2;
	position: relative;
	z-index: 0;
	margin-top: -20px;

	ul.nav {
		width: 100%;
	}

	.nav>li>a:hover {
		background-color: none !important;
	}

	li a {
	font-family: $pragmatica;
	font-weight: 500;
	font-size: 18px;
	padding-left: 50px;

		&:hover {
			background-color: none;
		}

		.iconContainer {
			width: 50px;
			height: 40px;
			margin-left: -50px;
			float: left;
			position: relative;
			background: url(../images/icons/quicknav.png) 0 0 no-repeat;
		}

		&.downloaddata-quick {
			
			.iconContainer {
			background-position: 0 -6px;
			}

		}

		&.orderdata-quick {

			.iconContainer {
			background-position: 0 -45px;
			}
		}

		&.wms-quick {
			.iconContainer {
			background-position: 0 -85px;
			}	
		}

		&.training-quick {
			color: #8a8e1d;

			.iconContainer {
			background-position: 0 -125px;
			}
		}

		&.hpids-quick {
			color: #ba2025;

			.iconContainer {
			background-position: 0 -165px;
			}
		}

		small {
			font-family: $opensans;
			font-weight: 100;
			font-size: 11px;
			color: $darkgrey;
			display: block;
			margin-top: -4px;
		}
	}
}


/* Footer */
#wrap {
	 min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px;
}

#push, .footer {
	height: 250px;
}

.push {
	border: none;
}

.footer {
	background: $darkgrey;
	color: white;
}

/* Updates */
#updates {

	time {
	font-size: 14px;
	display: block;
	}
}

/* Media Breaks */
@media (min-width: $break-topsmall) {
	.title-header a.navbar-brand {
		text-indent: 0;
	}

}


@media (min-width: $break-med) {
	.title-header a.navbar-brand {
		font-size: 22px;
	}

	#updates .media {
		height: 150px;

		p {

		}
	}
}


@media (max-width: $break-large) {
	
	/* nav bar */
	.title-header a.btn.btn-tnris.pull-right.contact {
		text-indent: -9999px;
		padding: 6px 12px;
	}
}

/* News Template - Single Page */
author {
	text-transform: uppercase;
}

.article {

	.byline {
		margin-bottom: 5px;
	}

	h2.headline {
	margin-top: 0;
	font-size: 30px;
	}

	img {
		margin-bottom: 15px;
	}
}

#allUpdates .article {
	border-bottom: 1px solid #eeeeee;

	&:last-child {
		border-bottom: none;
	}
}

/* Article Data Box */

.dataBox {
	float: right; 
	padding: 20px; 
	padding-top: 0; 
	border: 1px #ccc solid; 
	width: 300px; 
	background: #f2f2f2; 
	margin-left: 20px; 
	margin-bottom: 20px;
}


/* Front Page Highlights */
#highlights.row {
	background: $lightgrey;
}

.highlightBox {
	height: 300px;
	margin-bottom: 30px;
	overflow: hidden;
}

#highlights h3 {
	font-weight: 100;
	font-size: 30px;
}

.highlightBox img {
	border-radius: 10px;
}

/* Common Page Elements */
.mainBlurb {
	font-size: 18px;
}