<h3>Platinum Sponsors</h3>
<a href="http://www.esri.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/esri_web.png"></a> 
<a href="http://www.quantumspatial.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/quantum_web.png"></a>
<a href="http://www.appgeo.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/appgeo_web_lg.png"></a>

<h3>Gold Sponsors</h3>
<a href="http://www.surdex.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/surdex_web.png"></a>
<a style="margin-top: 20px;" href="http://www.hdrinc.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/hdr_web.png"></a>
<a style="margin-top: 20px;" href="http://plotterpro.com/" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/proplotter_web.png"></a>

<h3>Silver Sponsors</h3>

<a href="http://www.hexagongeospatial.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/hexagon_web.png"></a>
<a href="http://www.pictometry.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/pictometry_web.png"></a>
<a href="http://www.saminc.biz" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/sam_web.png"></a>
<a href="https://www.here.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/here_web.jpg"></a>
<a href="http://www.bluemarblegeo.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/bluemarble_web.png"></a>
<a href="http://www.kasurveys.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/keystone_web.png"></a><br>
<a href="http://www.merrick.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/merrick_web.png"></a>
<a href="http://www.teachmegis.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/teachmegis_web.png"></a>
<a href="http://cartodb.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/cartodb_web.png"></a>
<a href="http://www.razor-tek.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/razorlizard_web2.png"></a>
<a href="http://www.scaug.org" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/scaug_web.png"></a><br>
<a href="http://www.sanborn.com/" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/sanborn_web.png"></a>
<a href="http://www.geocortex.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/geocortex_web.png"></a>
<a href="http://www.hp.com" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/hp_360_web.png"></a>
<a href="http://www.aecom.com/" target="_blank"><img class="img-responsive" src="images/texas-gis-forum/2014/logos/aecom_web.png"></a>
