  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Recent GIS Community Meeting</h3>
    </div>
    <div class="panel-body">
      <h3>January 20th, 2015 - 2PM to 4PM</h3>
      <h4>Location:</h4>
      <address>
        Stephen F. Austin Building, Room 170<br>
        1700 N. Congress, 78701<br>
            <a href="https://goo.gl/maps/PlLqD"><a href="https://goo.gl/maps/RE5BC"><i class="glyphicon glyphicon-new-window"></i> View Map</a>
      </address>
      <p>
    <a class="btn btn-tnris btn-lg btn-block" href="https://speakerdeck.com/texasnaturalresourcesinformationsytem/texas-gis-community-meeting-1st-quarter"><i class="fa fa-slideshare"></i> View Meeting Slides</a></p>
    </div>
  </div>
