<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if description %}
  <meta name="description" content="{{description}}">
 {% elseif abstract %}
  <meta name="description" content="{{abstract}}">
{% endif %}
{% if author %}
  <meta name="author" content="{{author}}">
{% endif %}

<link rel="shortcut icon" href="favicon.ico">

{% if base %}
  <base href="{{base}}"/>
{% endif %}

<!--[if lte IE 9]>
  <script type="text/javascript">
    var base = document.getElementsByTagName('base')[0];

    if (base) {
      var newBase = document.createElement('base');
      newBase.setAttribute('href', base.href);

      var parent = base.parentNode;
      parent.removeChild(base);
      parent.appendChild(newBase);
    }
  </script>
<![endif]-->


<title>{% if title %}{{title}} | {% endif %}TNRIS - Texas Natural Resources Information System</title>
