<div id="front-image-container" class="col-md-9 col-sm-12 col-xs-12">
	<div id="orthofront">
		<img class="img-responsive" src="images/ortho_flag_blank.jpg" alt="A Texas Flag with aerial orthoimagery in place of the red, white and blue">
		<div class="orthobox">
		  <h2><strong>2015 Statewide</strong><br>Orthoimagery Project</h2>
		  <p class="hidden-xs"> A collaborative initiative to capture high-quality, leaf-off imagery for the entire state, slated for public release in <strong>Winter 2015.</strong>  
		  </p>
		  <a href="2015-statewide-orthoimagery-project" class="btn btn-tnris btn-md btn-responsive">Learn More</a> 
		</div>

	</div>
</div>