{% import '_macros.html' as m %}
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="title-header">
    <div class="container"> 
      <span>Texas Natural Resources Information System</span>
      <a class="skip" href="#mainContentAnchor">Skip to Main Content</a>
      <a class="navbar-twdb pull-right hidden-xs" href="http://www.twdb.texas.gov/">part of the <span class="hidden-sm">Texas Water Development Board</span> <abbr class="hidden-md hidden-lg" title="Texas Water Development Board">TWDB</abbr></a>
    </div>
  </div>

  <div class="container nav-bg">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <small class="pull-left">View Menu</small>
        <div class="icon-bars">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
      <a href="{{m.link('index')}}" class="navbar-brand" title="TNRIS Logo and back home">
        <span class="sr-only">Texas Natural Resources Information System</span></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
        <li {% if id === 'maps-and-data' %}class="active"{% endif %}>
          <a class="maps-data-link" href="{{m.link('maps-and-data')}}">Maps &amp; Data</a>
        </li>
        <li class="dropdown navbar-inverse {% if id === 'stratmap' || id === 'training' || id === 'hpids' %}active{% endif %}">
          <a href="#" class="dropdown-toggle programs-nav " data-toggle="dropdown"><i class="fa fa-tasks hidden-sm"></i> Programs</a>
          <ul class="dropdown-menu inverse-dropdown" role="menu">
            {%- set programs = [
              {
                'id': 'stratmap',
                'name': 'StratMap',
                'description': 'Strategic Mapping Program'
              }, {
                'id': 'training',
                'name': 'Education &amp; Training',
                'description': 'Low-cost and accessible GIS training'
              }, {
                'id': 'high-priority-imagery-data-sets',
                'name': 'HPIDS',
                'description': 'High Priority Imagery &amp; Data Sets'
              }
            ] -%}
            {% for program in programs %}
              <li {% if id === program.id %}class="active"{% endif %}>
                <a href="{{m.link(program.id)}}">
                  {{program.name}}<br>
                  <small>{{program.description}}</small>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li {% if id === 'geographic-information-office' %}class="active"{% endif %}>
          <a class="gio" href="{{m.link('geographic-information-office')}}">Geographic Information Office</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li {% if id === 'about' %}class="active"{% endif %}>
          <a href="{{m.link('about')}}"><span class="glyphicons glyphicons-group"></span> About<span class="sr-only"> us</span></a>
        </li>
        <li {% if id === 'contact' %}class="active"{% endif %}>
          <a href="{{m.link('contact')}}">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>

        {% block topalert %}
        <div class="container-full alert-custom alert alert-dismissible" role="alert">
          <div class="container">
              <p><strong>Welcome to the latest version of the TNRIS website</strong><br> You can still access the old site at <a href="http://legacy.tnris.org" target="_blank">legacy.tnris.org</a>.<br>We will be porting content from there and will close access to the legacy site when the process is complete.</p>

            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Dismiss this message </button>
          </div>
      </div>
        {% endblock topalert %}
</header>
