<div class="title-header">
  <div class="container">
    <span>Texas Natural Resources Information System</span>
    <a class="skip" href="#mainContentAnchor">Skip to Main Content</a>
    <a class="navbar-twdb hidden-xs hidden-sm pull-right" href="http://www.twdb.texas.gov/">part of the Texas Water Development Board</a>
  </div>
</div>

<nav id="mainNav" class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{crossref['index']}}">
        <img alt="TNRIS logo" src="images/sm_logo_white.png">
      </a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if id === 'maps-and-data' %}class="active"{% endif %}>
          <a href="{{crossref['maps-and-data']}}">Maps &amp; Data</a>
        </li>

        <li class="dropdown {% if id === 'stratmap' || id === 'training' || id === 'hpids' %}active{% endif %}">
          <a href="#" class="dropdown-toggle programs-nav " data-toggle="dropdown"><i class="fa fa-tasks"></i> Programs</a>
          <ul class="dropdown-menu inverse-dropdown" role="menu">
            {%- set programs = [
              {
                'id': 'stratmap',
                'name': 'StratMap',
                'description': 'Strategic Mapping Program'
              }, {
                'id': 'training',
                'name': 'Education &amp; Training',
                'description': 'Low-cost and accessible GIS training'
              }, {
                'id': 'hpids',
                'name': 'HPIDS',
                'description': 'High Priority Imagery &amp; Data Sets'
              }, {
                'id': 'bic',
                'name': 'BIC',
                'description': 'Borderlands Information Center'
              }
            ] -%}
            {% for program in programs %}
              <li {% if id === program.id %}class="active"{% endif %}>
                <a href="{{crossref[program.id]}}">
                  {{program.name}}<br>
                  <small>{{program.description}}</small>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
        <li {% if id === 'gio' %}class="active"{% endif %}>
          <a class="gio" href="{{crossref['gio']}}">Geographic Information Office</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm about-contact">
        <li>
          <a href="#"><span class="glyphicon glyphicon-user"></span> About</a>
        </li>
        <li {% if id === 'contact' %}class="active"{% endif %}>
          <a href="{{crossref['contact']}}" role="button"><span class="glyphicon glyphicon-comment"></span> Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
