<h3>Project Announcements</h3>
<ul>
<li>This project web page now available!</li>
<li>Season 4 was opened for acquisition on 1/12. All Seasons are now open for acquisition.</li>
<li>University Lands West Texas 6-inch BUY-UP areas opened for acquisition on 1/12.</li>
<li>In-person project updates will be given at the next GIS Community Meeting on 1/20.</li>
 </ul>
<h3>Data Progress</h3>
<ul>
  <li>37% of the state has been flown for 0.5-meter imagery</li>
  <li>25% of the state has been surveyed for ground control</li>
  <li>10% of the state has been begun initial image processing</li>
  <li>0% pilot data received</li>
  <li>0% final orthoimagery received</li>
</ul>
