{% import "_form_macros.html" as form %}

<h2 id="contact-pm">Contact Us For More Info</h2>

<p>For further information or questions, contact the project manager,
    <strong>{{ author }}</strong>, directly using the form below:

    {{form.before()}}
      {{form.input("Name", "name", "text", true)}}
      {{form.input("Email", "email address", "email", true)}}
      {{form.input("Phone", "phone number", "tel", false)}}
      {{form.input("Organization", "organization", "text", false)}}

      {{form.textarea(
          "Question or Comments",
          "Question / Comments",
          true,
          true
      )}}

      {{form.submit("Message")}}
    {{form.after()}}

