{% import '_macros.html' as m %}

<ul class="list-group row">
  <li class="col-xs-2 col-md-12 hidden-xs hidden-sm">
    Start exploring our <strong>data</strong>
  </li>
  {% for item in [
    {
      anchor_class: "catalog-quick",
      link: 'data-catalog',
      icon: "fa fa-archive",
      name: "Data Catalog",
      description: "Browse data sets"
    }, {
      anchor_class: "downloaddata-quick",
      link: 'data-download',
      icon: "fa fa-download",
      name: "Download Data",
      description: "Access digital data directly"
    }, {
      anchor_class: "orderdata-quick",
      link: 'order-data',
      icon: "glyphicon glyphicon-phone-alt",
      name: "Order Data",
      description:"Custom data requests"
    }, {
      li_class: "wms-width",
      anchor_class: "wms-quick",
      link: 'maps-and-data/online-mapping-services',
      icon: "glyphicon glyphicon-globe",
      name: "Online Map Services",
      description: "WMS layers and more"
    }
  ] %}
    <li class="list-group-item col-xs-5ths col-md-12 {{item.li_class}}">
      <a class="{{item.anchor_class}}" href="{{m.link(item.link)}}">
        <div class="quick-nav-container">
          <div class="iconContainer">
            <i class="{{item.icon}}"></i>
          </div>
          <div class="quick-nav-text">
            <em>{{item.name}}</em>
            <small class="hidden-xs hidden-sm">{{item.description}}</small>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
  <li class="list-group-item col-xs-2 col-md-12 social-front">
    <div>
      <strong>Connect <span class="hidden-xs hidden-sm">With Us:</span></strong>
      <a href="https://twitter.com/tnris" title="Follow us on Twitter"><i class="fa fa-twitter"><span class="sr-only">Follow us on Twitter</span></i></a>
    </div>
  </li>
</ul>
