    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.min.js"></script>
    <script src="bower_components/jquery-zclip/jquery.zclip.js"></script>
    <script src="bower_components/swfobject/swfobject/swfobject.js"></script>
    <script src="bower_components/twentytwenty/js/jquery.event.move.js"></script>
    <script src="bower_components/twentytwenty/js/jquery.twentytwenty.js"></script>
    <script src="js/holder.js"></script>
    <script src="js/site.js"></script>
    <script type="text/javascript" src="//use.typekit.net/rat5rkg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
