  <!-- build:js js/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/holderjs/holder.js"></script>
    <script src="bower_components/jquery-zclip/jquery.zclip.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.min.js"></script>
    <script src="bower_components/swfobject/swfobject/swfobject.js"></script>
    <script src="bower_components/twentytwenty/js/jquery.event.move.js"></script>
    <script src="bower_components/twentytwenty/js/jquery.twentytwenty.js"></script>
  <!-- endbuild -->

  <!-- build:js js/site.min.js -->
    <script src="js/site.js"></script>
  <!-- endbuild -->
