    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/eventmove.js"></script>
    <script src="js/twentytwenty.js"></script>
    <script type="text/javascript" src="//use.typekit.net/rat5rkg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
    $(window).load(function() {
    $("#imageCompare1, #imageCompare2, #imageCompare3, #imageCompare4, #imageCompare5, #imageCompare6, #imageCompare7").twentytwenty({default_offset_pct: .5});
    });
    </script>