<button type="button" class="btn btn-success btn-lg pull-right" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-question-sign"></span> How to Access<br> Services in ArcGIS
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">To access the services in ArcGIS:</h3>
      </div>
      <div class="modal-body">
  <ol>
    <li>In ArcMap, choose <strong>Add Data</strong> > <strong>GIS Servers</strong> > <strong>Add ArcGIS Server</strong></li>
    <li>Select <strong>Use GIS services</strong></li>
    <li>Insert the URL http://r.tnris.org/arcgis/services and click <strong>Finish</strong>.</li>
    <li>After completion you will be be able to see all ArcGIS services.</li>
  </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>