@import "variables";

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: $proxima;
  font-weight: 400;
  position: relative;

  @include transition(opacity 0.1s linear);

  .wf-loading & {
    opacity: 0;
  }

  .wf-active &, .wf-inactive & {
    opacity: 1;
  }
}

h1, h2, h3, h4 {
  font-family: $pragmatica;
  font-weight: 400;
}

h2 {
  color: $auburn;
}

/* custom lead */
.lead {
  max-width: 750px;
}

/* for skip links */
#contentMain {
  background: white;
  margin-bottom: 30px;
}

#mainContentAnchor {
  position: absolute;
  top: 76px;
}

/* Buttons */
.btn-tnris {
  color: white;
  background-color: $tnrisblue;
  border-color: $urgentblue;
  box-shadow: inset $urgentblue 0 0 7px;

  &:hover {
    background: $urgentblue;
    color: white;
  }
}

.btn {
  &.active {
    pointer-events: none;
    cursor: not-allowed;
  }
}

/* push footer to bottom of page */
#wrap-outer {
  min-height: 100%;
}

#wrap-inner {
  overflow:auto;
  padding-bottom: $footer-height;
}

.footer {
  background: $darkgrey;
  clear: both;
  color: $lightgrey;
  min-height: $footer-height;
  margin-top: -$footer-height;
  position: relative;
  z-index: 500;

  a {
    color: $lightergrey;
    abbr {
      border: 0;
    }
  }

  .accessibility {
    background: $darkish;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
  }

  .copyright {
    bottom: 0;
    font-size: 12px;
    left: 0;
    padding-bottom: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .address-container {
    font-size: 14px;

    p {
      margin-top: 20px;
    }
  }

  .sitemap {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    h4 {
      color: $lightgrey;
    	
      a {
    		color: $lightgrey;
    	}
    }

    a {
      color: $bsgrey;
    }
  }
}

address {
  margin-bottom: 0;
}

author {
  text-transform: uppercase;
}

.article {
  .byline {
    margin-bottom: 5px;
  }

  h2.headline {
    margin-top: 0;
    font-size: 30px;
  }
  img {
    margin-bottom: 15px;
  }
}

/* Base styles (regardless of theme) */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  h4 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code, .highlight {
    background-color: #fff;
  }
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
  h4 {
    color: #B94A48;
  }
}

.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
  h4 {
    color: #C09853;
  }
}

.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
  h4 {
    color: #3A87AD;
  }
}

.list-group-item.danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

/* Article Data Box */
.dataBox {
  padding: 20px;
  padding-top: 0;
  border: 1px #ccc solid;
  width: 300px;
  background: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Common Page Elements */
.mainBlurb {
  font-size: 20px;
  margin-bottom: 10px;
  color: $middarkgrey;
}

img {
  &.pull-left {
    margin: 0 20px 20px 0;
  }

  &.pull-right {
    margin: 0 0px 20px 20px;
  }
}

blockquote {
  background: $lightgrey;
}

/* for making full images at top on full-top template */
.container-fluid.full {
  padding: 0;
  margin-top: -5px;
  overflow: hidden;
  height: auto;
  position: relative;
    clear: both;
    margin-bottom: 15px;

  img {
    min-width: 100%;
    display: block;
  }

  .top-container {  
    position: relative;
    min-height: 200px;

    .top-header { 
      color: white;
      text-shadow: 0 0 4px black;
      background: rgba(0, 0, 0, .75);
      height: auto;
      position: absolute;
      z-index: 100;    
      bottom: 0;
      margin: 0 auto;
      width: 100%;

      h1 {
        margin-bottom: 0;
      }

    }
  }
}

/* Custom Breadcrumb */
.breadcrumb {
  font-size: 14px;

  @media (min-width: $screen-sm) {
    font-size: 16px;
  }
}

/* Media box resets */
.media:first-child {
  margin-top: 15px;
}

/* Alert Box */

.navbar-static-top {
  .alert-custom {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 2px 5px $midgrey;

    strong {
      font-family: $pragmatica;
      font-size: 20px;
      font-weight: 400;
    }
    background: $lightgrey;
    font-size: 16px;
    margin-bottom: -1px;
    text-align: center;
    position: relative;
    color: $middarkgrey;

    a {
      color: $tnrisblue;
    }
    
    &.alert-dismissible {
      .container {
        position: relative;
        
        .close {
          font-size: 14px;
          text-transform: uppercase;
          color: $auburn;
          margin: 0 auto;
          margin-left: -10px;
          float: none;
          right: 0;
          top: 0;

          &:hover {
            color: $auburnoutline;
          }

          @media (min-width: $screen-md) {
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
      }
    }
  }
}

/* Side Bar on blogs */

.col-md-4 {
  .panel:first-child {
    margin-top: 20px;
  }
}

/* News Lists formatting */
.list-clean {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

ul.news-list {

    .media {
      border-bottom: 1px solid $midgrey;
      margin-top: 15px;
      
      h3 {
        font-size: 20px;
        
        @media (min-width: $screen-xs) {
          font-size: 22px;
        }
      }
      
      p {
        font-size: 15px;
        margin-bottom: 15px;      
      }

      img {
        height: 100px;
        width: 100px;
        margin-bottom: 15px;
      }
      
      &:first-child {
        margin-top: 0;
        padding-left: 0;
      }

      &:last-child {
        border: none;
        padding-right: 0;
        padding-bottom: 0;
      }

      time {
        font-size: 16px;
        color: #5c6367;
        font-weight: 300;
        margin-bottom: 5px;
      }
    }
  }

// pull quotes for articles //
.pull-quote {
  background: $lightgrey;
  color: $tnrisblue;
  font-family: $pragmatica;
  font-size: 25px;
  line-height: normal;
  margin: 20px;
  margin-top: 5px;
  max-width: 40%;
  padding: 30px;

  &:before {
    content: open-quote; 
  }
  &:after  { 
    content: close-quote;
  }

  &.right {
    float: right;
    margin-left: 25px;
    margin-right: 0;

    @media (min-width: $screen-lg){
      margin-right: -40px;
    }
  }

  &.left {
    float: left;
    margin-left: 0;
    margin-right: 25px;

    @media (min-width: $screen-lg){
      margin-left: -40px;
    }
  }
}

// Custom Lead for articles //
.blog-main {
  .lead {
    font-style: italic;
    padding: 10px;
  }
}

// Custom Modal 
.modal-header {
  padding: 0 10px;
}

.modal-body {
  padding: 0 10px;
}

.modal-backdrop {
  background-color: $white;
  &.in {
    opacity: .7;
  }
}

// // Clear helper
// .clear {
//   clear: both;
// }

