/* Training */

#training {
	table {
		tr {
			th {
				&:first-child {
					width: 20%;
				}
			}

			td {
				vertical-align: top;
			}

			&.course-description {
				td {
					padding-bottom: 20px;
					border-bottom: 1px solid $lightergrey;
				}
			}
		}
	}
}


/* statewide orthoimagery project */

#_2015-statewide-orthoimagery-project {
	display: visible;

	hr {
		display: block;
		clear: both;
		height: 1px;
		border-top: none;
	}
}

