/* Training */

h1.training-title {
	margin-top: 0;
}

.training-header {
		background: $lightgrey;
		min-height: 60px;
		line-height: 60px;
}

#training {
	.training-list {
		.training-header {
			background: $lightgrey;
			line-height: normal;
		}

		.head {
			background: $tnrisblue;
			color: white;
			font-weight: 300;
			padding: 5px;
		}

		div>div {
			vertical-align: top;
			padding: 5px;

			.course-date {
				strong {
					text-transform: uppercase
				}
			}
		}

		.course-info {
			font-size: 12px;
		}

		.course-description {
			padding-bottom: 30px;
			border-bottom: 1px solid $lightergrey;
		}

		&:last-child {
			.course-description {
				td {
					border-bottom: none;
				}
			}
		}

		h3 {
			font-size: 22px;
			margin-top: 0;
		}
	}
}


/* statewide orthoimagery project */

#_2015-statewide-orthoimagery-project {
	display: visible;

	hr {
		display: block;
		clear: both;
		height: 1px;
		border-top: none;
	}
}


/* Texas GIS Forum 2014 Custom */

.forum-date-runner {
  display: block;
  height: 20%;
  background: $darkgrey;
  color: white;
  font-family: $pragmatica;
  font-size: 20px;
  color: $lightgrey;
  strong {
    color: white;
    font-weight: 300;
    font-size: 20px;
    @media (min-width: $screen-xs) {
      font-size: 20px;
    }
  }
  @media (max-width: $screen-xs) {
    font-size: 14px;
  }
}

.forum-links {
  position: absolute;
  z-index: 2000;
  top: 45%;
  width: 150px;
  left: 30px;
  @media (max-width: $break-lg) {
    width: 100px;
    left: 40px;
  }
  a {
    padding: 10px;
    width: 100%;
    background: $darkgrey;
    color: white;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    box-shadow: $middarkgrey 2px 2px 5px;
    @media (max-width: $break-lg) {
      margin-bottom: 10px;
      font-size: 12px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      text-decoration: none;
      background: $tnrisblue;
    }
  }
}

/* Statewide Ortho 2015 */
#orthofront {
  position: relative;
  img {
    position: relative;
  }
  .orthobox {
    position: absolute;
    text-shadow: 0px 0px 2px #ffffff;
    width: 68%;
    left: 30%;
    top: 3%;
    h2 {
      margin: 0;
      font-weight: 300;
      color: $darkgrey;
      font-size: 25px;
      strong {
        font-weight: 500;
        font-size: 30px;
      }
      @media (min-width: $screen-xs) {
        font-size: 30px;
        strong {
          font-size: 35px;
        }
      }
      @media (min-width: $screen-sm) {
        font-size: 35px;
        strong {
          font-size: 43px;
        }
      }
      @media (min-width: $screen-lg) {
        font-size: 50px;
        line-height: 45px;
        strong {
          font-size: 60px;
        }
      }
    }
    p {
      font-size: 15px;
      font-weight: 400;
      padding-left: 5px;
      padding-right: 30%;
      font-family: $pragmatica;
      @media (min-width: $screen-lg) {
        font-size: 17px;
      }
    }
    a {
      &.btn {
        @media (min-width: $screen-sm) {
          position: relative;
          float: right;
          margin-top: -15%;
          margin-right: 5%;
          padding: 10px 15px;
          font-size: 18px;
        }
      }
    }
  }
}
