/* Training */

#training {
	table {
		tr {

			&:nth-child(even) {
				td {
					background: $lightgrey;
				}
			}

			th {
				background: $tnrisblue;
				color: white;
				font-weight: 300;
				padding: 5px;

				&:first-child {
					width: 22%;
				}
			}

			td {
				vertical-align: top;
				padding: 5px;

				&.course-date {
					strong {
						text-transform: uppercase
					}
				}
			}

			&.course-description {
				td {
					padding-bottom: 30px;
					border-bottom: 1px solid $lightergrey;
				}
			}

			&:last-child {
				&.course-description {
					td {
						border-bottom: none;
					}
				}
			}

			h3 {
				font-size: 22px;
				margin-top: 0;
			}


		}
	}
}


/* statewide orthoimagery project */

#_2015-statewide-orthoimagery-project {
	display: visible;

	hr {
		display: block;
		clear: both;
		height: 1px;
		border-top: none;
	}
}

