// _gio-page.scss
@import "variables";

.gio-stories-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li.media {

		&.horizontal {
			max-width: 50%;
			padding-right: 30px;
			float: left;
		}

		.media-left {
			img {
				width: 100px;
			}
		}
	}
}
