// _gio-page.scss
@import "variables";


.media {

  &.horizontal {

    h4.media-heading {
      font-size: 24px;
    }

    img {
      width: 100px;
      height: 100px;
    }

    @media (min-width: $screen-xs) {

      &:first-child {
        border-right: 1px solid $midgrey;
      }
    }
  }
}
