@import "mixins";
@import "variables";

/* Home Top */
#home-top-content {
  margin-top: 10px;
  margin-bottom: 20px;
  @include background-image(linear-gradient(to top, $lightergrey, white, white, white));
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 5px;
  @media (min-width: $screen-sm) {
    padding-bottom: 10px;
  }
}

/* Quick Nav */
/**************************************************/
.quick-nav {
  margin-bottom: 0;
  // @include background-image(linear-gradient(to top, #e7e7e7, white, white, white, white, white, transparent));
  // border-bottom: 1px solid #e2e2e2;
  position: relative;
  z-index: 0;
  float: left;
  padding-top: 0px;

  .container {
    background: $lightgrey;
  }

  ul {
    list-style: none;

    &.list-group {
      margin-bottom: 5px;
    }
    li {
      list-style: none;
      background: white;
      height: 45px;
      border-right: none;
      box-shadow: 2px 2px 3px $midlightgrey;
      &:first-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        background: $darkgrey;
        list-style: none;
        margin-top: 0;
        color: $midgrey;
        font-weight: 300;
        text-align: center;
        font-size: 24px;
        padding: 0;
        font-family: $pragmatica;
        height: 40px !important;
        strong {
          font-weight: 500;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 28px;
        }
        & + .col-xs-5ths {
          @media (max-width: $screen-sm-max) {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
      &.list-group-item {
        margin: 0;
        padding: 0;

        a {
          display: block;
          width: 100%;
          height: 100%
        }

        @media (max-width: $screen-md-max) {
          padding: 0px;
          padding-left: 5px;
          padding-right: 5px;

          em {
            @include vertical-align;
          }
        }

        &.social-front {
          font-family: $pragmatica;
          background: $lightblue;
          text-align: center;

          @media (min-width: $screen-sm-min) {
            height: 45px;
          }

          div {
            @include vertical-align;

            strong {
              font-weight: 300;

              @media (min-width: $screen-sm-min) {
                font-size: 22px;
              }
            }
            a {
              color: $tnrisblue;
              display: inline;

              &:hover {
                color: $darkerblue;
              }
              i {
                font-size: 26px;
                margin-left: 14px;
                @media (max-width: $screen-md-max) {
                  margin-left: 2px;
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
      @media (min-width: $screen-md-min) {
        height: 60px;
        border-right: 1px solid #dddddd;
      }
      @media (min-width: $screen-lg-min) {
        height: 70px;
      }
      &:first-child {
        @media (max-width: $screen-xs-max) {
          border-top-right-radius: 0;
          border-bottom-left-radius: 5px;
        }
      }
      &:last-child {
        @media (max-width: $screen-sm-max) {
          border-top-right-radius: 5px;
          border-bottom-left-radius: 0;
          border-right: 1px solid #dddddd;
        }
      }
      &.wms-width {
        @media (max-width: $screen-md) {
          width: 23%;
        }
      }
      a {
        font-family: $pragmatica;
        font-weight: 500;
        font-size: 12px;
        overflow: auto;
        height: 100%;
        width: 100%;

        @media (min-width: $screen-xs-min) {
          font-size: 14px;
        }
        @media (min-width: $screen-sm-min) {
          font-size: 16px;
        }
        @media (min-width: $screen-lg-min) {
          font-size: 22px;
        }
        &:hover {
          text-decoration: none;
        }
        em {
          font-weight: 500;
          line-height: 5px;
          display: inline;
          line-height: 1em !important;
          width: 100%;
          font-style: normal;
        }
        .quick-nav-text {
          @include vertical-align;
          position: absolute;
          padding-left: 22px;

          @media (min-width: $screen-sm-min) {
            padding-left: 26px;
          }
          @media (min-width: $screen-md-min) {
            padding-left: 37px;
          }
          @media (min-width: $screen-lg-min) {
            padding-left: 50px;
          }
        }
        .iconContainer {
          @include vertical-align;

          position: absolute;
          background: none;
          margin-left: 0;
          margin-right: 5px;
          font-size: 16px;

          @media (min-width: $screen-sm-min) {
            font-size: 18px;
          }
          @media (min-width: $screen-md-min) {
            font-size: 24px;
            margin-left: 5px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 30px;
            margin-left: 10px;
          }
        }
        &.catalog-quick {
          color: $darkish;
          &:hover {
            color: black;
          }
        }
        &.downloaddata-quick {
          color: $auburn;
          &:hover {
            color: $auburnoutline;
          }
        }
        &.orderdata-quick {
          color: $successgreen;
          &:hover {
            color: $successhover;
          }
        }
        &.wms-quick {
          color: $tnrisblue;
          &:hover {
            color: $darkerblue;
          }
        }
        small {
          font-family: $proxima;
          font-weight: 300;
          color: $darkgrey;
          display: block;
          font-size: 14px;
        }
      }
    }
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: none;
    list-style: none;
  }
}

#quickNav.navbar .nav > li > a:hover {
  background-color: none !important;
}

@media (max-width: $break-med-two) {
  #quicknav ul li.list-group-item {
    float: left;
    display: inline-block;
  }
}

/* Front Image */
#front-image-container {
  &.col-xs-12 {
    @media (max-width: $screen-md) {
      padding: 0 !important;
    }
  }
  @media (min-width: $screen-md) {
    padding-right: 0;
  }
  img {
    border: 2px solid white;

    @media (min-width: $screen-md) {
      min-height: 315px;
    }
  }
}

/* Front Page Highlights */
#highlights {
  background: $lightgrey;
  position: relative;
  z-index: 10000;
  padding: 20px 0;

  strong {
    font-weight: 400;
  }

  h3 {
    color: $middarkgrey;
    font-weight: 100;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    @media (max-width: $screen-lg) {
      font-size: 24px;
    }
  }

  p {
    padding: 0 15px;
    margin-top: 15px;
  }

  a {
    margin-left: 15px;
  }

  .image-container {
    // border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;

    h2 {
      position: absolute;
      text-shadow: 1px 1px 2px $darkgrey;
      margin: 0;
      padding: 0;
      padding-bottom: 5px;
      padding-left: 15px;
      font-weight: 300;
      bottom: 0;
      width: 100%;
      color: white;
      @include background-image(linear-gradient(to top, $darkgrey, transparent));
      
      @media (max-width: $screen-lg) {
        font-size: 20px;
      }
    }
  }
}

.highlightBox {
  margin-bottom: 15px;
  overflow: hidden;
  background: $white;
  border: 1px solid $midgrey;
  color: $darkgrey;
  height: 350px;
}

/* Updates */
#updates-front {
  @media (min-width: $screen-md) {
    // border-left: 1px solid $midgrey;
    margin-left: 15px;
    margin-right: -15px;
    padding-right: 30px;
  }

  h2 {
    font-size: 22px;
    margin-top: 5px;
  }
}

/* training and around the state */

#front-sidebar {
  margin-bottom: 20px;
  margin-top: 20px;

  @media (min-width: $screen-md) {
    margin-top: 0px;
  }

  h2 {
    font-size: 22px;
    margin-top: 0;
    
    a {
        color: $auburn;
      }
  }

  .training-front {
    border-left: 1px solid $midgrey;
    padding-left: 15px;

    @media (min-width: $screen-md) {
      border-left: none;
      padding-left: 0px;
      padding-right: 0;
    }



    h4 {
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 20px;

    }
    
    strong {
      font-size: 14px;
      font-weight: 100;
    }

    a {
      font-family: $pragmatica;
    }

    time {
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 0px;
    }

    li:last-child {

      @media (min-width: $screen-lg) {
        display: none;
      }
    }
  }

  .around-state-front {
    background: url(../images/around-the-state/light_auburn_bg.png) right top no-repeat;
    margin-bottom: 20px;

    @media (min-width: $screen-md) {
      border-bottom: 1px solid $midgrey;
      border-right: none;
      padding-left: 0px;
      padding-right: 0;
      padding-bottom: 20px;
    }

    h2 {
      margin-top: 5px;
    }

    h4 {
      padding-right: 120px;
    }

    img {
      float: right;
      width: 125px;
      margin-left: 10px;
      padding-right: 5px;
      @media (min-width: $screen-lg) {
        width: 150px;
      }
    }
  }
}
