@import "variables";

.jumbotron {
  padding: 0px;
  background: none;
  margin-bottom: 0;
  a.btn {
    position: absolute;
    display: block;
  }
}

@media (min-width: 767px) {
  .jumbotron .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .jumbotron .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .jumbotron .container {
    width: 1170px;
  }
}

