// _mapsanddata.scss
@import "variables";

/* Main */

// #mainDataList {
// 	ul {
// 		margin: 0;
// 		padding: 0;
// 		li {
// 		margin: inherit;
// 		padding: inherit;
// 		margin-bottom: 5px;
// 		font-size: 16px;
// 		list-style: none;
// 		}
// 	}
// }

#dataPageContent {
	h3 {
		color: $tnrisblue;
	}

}

.wms-nav {
	width: 260px;

	li {

		&.active {
			background: $lightgrey;
		}
	}

	&.affix {
	}
}