// _mapsanddata.scss
@import "variables";

/* Main */

#dataPageContent {

	// position: relative;
	// top: 100px;
	h2 {
		margin-top: 20px;
	}

	section{

		&.service {
			padding-top: 50px; 
			margin-top: -50px;
		}

	}
}

.nav-cat {
	width: 260px;
	top: 150px;

	li {
		border-bottom: 1px solid $midgrey;
		padding-left: 0;
		margin-top: 0;

		&.active {
			background: $lightgrey;
		}
	}

	&.affix {
	}
}

.list-group {

	.media {
	margin-top: 0;
	display: block;
	overflow: auto;
	}

	.media-body {
	display: block;
	overflow: auto;
	}

}