// _mapsanddata.scss
@import "variables";

/* Main */

#dataPageContent {
  h2 {
    margin-top: 20px;
  }
  section {
    &.service {
      padding-top: 50px;
      margin-top: -50px;

      img {
        width: 75px;
      }
    }
  }
}

.description {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 30px;

  h2 {
    margin-top: 0;
  }
}

#catalog-main-image {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  border: 1px solid $midgrey;
  min-height: 88px;
  max-height: 800px;
  overflow: hidden;
  background: $darkgrey;
  h1 {
    height: 50px;
    z-index: 2000;
    padding: 0 20px;
    margin: 0;
  }
  .caption {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 300px;
    background: $tnrisblue;
  }
  .data-callout {
    position: absolute;
    @media (max-width: $screen-sm-max) {
      position: relative;
    }

    bottom: 0px;
    @include alpha-attribute("background-color", rgba($tnrisblue, 0.85), white);
    color: white;
    padding: 0 20px;
    padding-top: 0;
    left: 0px;
    width: 100%;
    height: auto;
    font-size: 16px;
    font-weight: 300;

    th {
      font-weight: 600;
      padding: 5px;
      padding-bottom: 0;
    }
    td {
      vertical-align: top;
      padding: 5px;

      ul.tags {
          list-style: none;
          margin: 0;
          overflow: hidden; 
          padding: 0;
      
          li {
            float: left;
            list-style: none;
            display: inline-block; 

            .tag {
                background: $darkerblue;
                border-radius: 3px 0 0 3px;
                font-weight: 100;
                font-size: 12px;
                color: white;
                display: inline-block;
                height: 26px;
                line-height: 26px;
                padding: 0 20px 0 23px;
                position: relative;
                margin: 0 5px 5px 0;
                text-decoration: none;
                -webkit-transition: color 0.2s;
                border-radius: 10px;
                  
                  &::before {
                    background: #fff;
                    border-radius: 10px;
                    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
                    content: '';
                    height: 6px;
                    left: 10px;
                    position: absolute;
                    width: 6px;
                    top: 10px;
                  }

              // &:hover {
              //     background-color: $darkish;
              //     color: white;

              //     &::after {
              //         border-left-color: $darkish; 
              //       }
              //   }
          }
        }
      }
    }
    a {
      color: $lightgrey;
    }


  }
  .btn-group {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  img {
    max-height: 584px;
    margin: 0 auto;
  }
}

.nav-cat {
  @media (min-width: $screen-sm) {
    max-width: 262px;

  }

  li {
    padding-left: 0;
    margin-top: 0;
    a {
      padding: 5px 10px;
      &:hover {
        color: $darkgrey;
        background: $lightblue;
      }
    }
  }

  &.affix {
    top: 0px;
  }
}

.list-group {
  .media {
    margin-top: 0;
  }
}

#data-access {
  h2 {
    margin-top: 0;
  }
  h4 {
    text-transform: uppercase;
  }
  .btn {
    margin-bottom: 40px;
  }
}

#metadata {
  table {
    width: 100%;
    tr {
      &:nth-child(odd) {}
      &:nth-child(even) {
        background-color: $lightgrey;
      }
      td {
        padding: 10px;
        vertical-align: top;
        &:first-child {
          width: 50%;
        }
      }
    }
  }
}

#catalogEntryContent {
  h1 {
    margin-top: 0;
  }
}

.data-catalog-items {
  
  .media .media-left img {
    width: 300px;
    
    @media (min-width: $screen-sm) {
      width: 200px;
    }
    
  }

  .media-left, .media-body {
    @media (max-width: $screen-sm) {
      display: block !important;
    }
  }

  @media (min-width: $screen-sm) {
    .media {
      min-height: 180px;
    }
  }
}

#dataPageContent {
  .copy-url-container {
    float: left;
  }
}

.copy-url-container {
  width: 93%;

  .copy-url-btn {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
  }

  @media (min-width: $screen-sm) {
    width: 78%;
  }

  @media (min-width: $screen-md) {
    width: 73%;
  }
  
  @media (min-width: $screen-lg) {
    width: 78%;
  }
}

#data-access {
  .copy-url-container {
  width: 100%;
  }
}

.wms-access {
  width: 40%;
  margin: 0;

    // ol {
    //   margin: 0;
    //   padding: 0;
    // }
}

.wms-info {
  width: 5%;
  height: 45px;
  line-height: 25px;
  display: inline-block;
  margin-top: -5px;
  
  @media (min-width: $screen-sm) {
    width: 20%;
  }

  @media (min-width: $screen-md) {
    width: 25%;
  }

  @media (min-width: $screen-lg) {
    width: 20%;
  }
}

input.wms-url {
  padding: 5px;
  border: 1px solid $midgrey;
  width: 100%;
  color: $tnrisblue;
  font-weight: 500;

  &.form-control[readonly] {
    cursor: text;
    background-color: white;
  }

  @include box-shadow(2px, 2px, 2px, rgba(0, 0, 0, 0.075), inset);
}

@media (max-width: $break-med-two) {
  #catalog-main-image .data-callout {
    font-size: 14px;
  }
}


/* seperate right-info code */
    .right-info {
      display: block;
      font-size: 13px;
      color: $middarkgrey;
      background: $lightgrey;
      padding: 5px;
      margin-bottom: 5px;
      margin-top: 10px;

      strong {
        float: left;
        margin-right: 5px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
