@import "partials/variables";

// Nav bar //
.title-header {
  background: $tnrisblue;
  color: $sky;
  font-family: $pragmatica;
  font-size: 12px;
  font-weight: 100;
  height: auto;
  letter-spacing: 3px;
  overflow: auto;
  text-transform: uppercase;
  width: 100%;
  z-index: 1000;

  @media (min-width: $screen-xs) {
    font-size: 16px;
  }

  @media (min-width: $screen-md) {
    font-size: 18px;
  }

  span {
    margin-top: 3px;
  }

  a {
    .skip {
      color: $tnrisblue;
      font-size: 1px;
      height: 1px;
      overflow: hidden;
      position: absolute;
      text-decoration: none;
      text-indent: -9999px;
      text-transform: none;
      width: 1px;

      &:focus {
        color: $white;
        font-size: 8px;
        overflow: auto;
        position: relative;
        text-indent: normal;
      }
    }
  }
}

.navbar-bg {
  padding-right: 0;
}

.navbar-right {
  li:last-child a {
      padding-right: 0;
  }
}

.navbar-static-top {
  background: $darkgrey;

  a {
    color: $white;
  }

  .icon-bar {
    background: $white;
  }

  &.navbar {
    margin-bottom: 5px;
  }
}

.navbar-nav > li > a {
  font-weight: 100;

  &.gio {
    background: url(../images/icons/tx_icon.svg) 0 13px no-repeat;
    background-size: 25px;
    padding-left: 28px;

    &:hover {
      background-position: 0 -28px;
    }
  }
}

a.navbar-twdb {
  color: $sky;
  font-size: 12px;
  overflow: hidden;
  margin-right: -15px;
  margin-top: 7px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.navbar-inverse {
  .navbar-nav {
    li {
      a {
        color: $white;

        &:hover {
          color: $sky;
        }
      }
    }
  }
}

.navbar-inverse {
  .dropdown-menu.inverse-dropdown {
    background: $darkgrey;

    li {
      a {

        &:hover {
          background: $black;
        }
      }
    }
  }
}

.navbar-collapse {
  background: $darkgrey;
}

.navbar-brand {
  background: url(../images/tnris_logo.svg) 0 0 no-repeat;
  height: 36px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  width: 80px;
  z-index: 30000;
}

.navbar-right {
  li {
    a {
      color: $white !important;
      
      &:hover {
        color: $sky !important;
      }
    }
  }
}
