/* Program page custom css */
@import "variables";

.vendor-block {
	display:inline-block; 
	height: 120px;

	img {
		max-width: 100%;
		max-height: 60px;
	}

  .vendor-contract-link {
    position: absolute;
    bottom: 0px;
  }
}
