// _statewide_ortho.scss
@import "variables";


#_2015-statewide-orthoimagery-project {
  display: visible;

  hr {
    border: 0;
    clear: both;
    height: 1px;
  }

  // Custom Masthead title BG */
  .container-fluid.full {
    .top-container {
      .top-header {
        background: none;
        @include background-image(linear-gradient(to top, rgba(11, 101, 143, 1),  rgba(255, 255, 255, 0)));
      }
    }
  }

  .blog-sidebar {
    date {
      text-transform: uppercase;
    }

    strong {
      font-size: 28px;
    }
  } 

  .modal-dialog {

    @media (min-width: $screen-md) {
      width: 800px;
    }
  }
}


#orthofront {
  position: relative;

  img {
    position: relative;
  }

  .orthobox {
    left: 30%;
    position: absolute;
    top: 3%;
    width: 68%;

    h2 {
      color: $darkgrey;
      font-size: 25px;
      font-weight: 300;
      margin: 0;

      strong {
        font-size: 30px;
        font-weight: 500;
      }

      @media (min-width: $screen-xs) {
        font-size: 30px;

        strong {
          font-size: 35px;
        }
      }

      @media (min-width: $screen-sm) {
        font-size: 35px;

        strong {
          font-size: 43px;
        }
      }

      @media (min-width: $screen-lg) {
        font-size: 50px;
        line-height: 45px;

        strong {
          font-size: 60px;
        }
      }
    }

    p {
      font-family: $pragmatica;
      font-size: 15px;
      font-weight: 400;
      padding-left: 5px;
      padding-right: 30%;

      @media (min-width: $screen-lg) {
        font-size: 17px;
      }
    }

    a {
      &.btn {
        @media (min-width: $screen-sm) {
          position: relative;
          margin-right: 5%;
          padding: 10px 15px;
          font-size: 18px;
        }

        &.btn-black {
          background: $darkgrey;
          border: 1px solid $black;
          border-radius: 4px;
          box-shadow: inset $black 0 0 7px;
          color: $white;
          font-family: $pragmatica;

          &:hover {
            background: $black;
            color: $midgrey;
          }
        }
      }
    }
  }
}

#allUpdates .article {
  border-bottom: 1px solid $lightergrey;

  &:last-child {
    border-bottom: 0;
  }
}

ul.dash {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
ul.dash li:before {
    display: inline-block;
    content: "-";
    width: 1em;
    margin-left: -1em;
}

