@import "variables";

// Training */

h1 {
  &.training-title {
    margin-top: 0;
  }
}

.training-header {
  background: $lightgrey;
  min-height: 40px;

  @media (min-width: $screen-lg) {
    line-height: 40px;
  }

}

.training-date {
  font-size: 20px;
  margin-bottom: 10px;
}

#training {
  
  .btn-lg {
    font-size: 26px;
    margin-right: 10%;
    margin-top: 30px;
  }

  .training-list {

    .training-header {
      background: $lightgrey;
      line-height: normal;
    }

    .head {
      background: $tnrisblue;
      color: $white;
      font-weight: 300;
      padding: 5px;
    }

    div>div {
      padding: 5px;
      vertical-align: top;

      .course-date {
        strong {
          text-transform: uppercase;
        }
      }
    }

    .course-info {
      font-size: 14px;
    }

    .course-description {
      border-bottom: 1px solid $lightergrey;
      padding-bottom: 30px;
    }

    &:last-child {
      .course-description {
        td {
          border-bottom: 0;
        }
      }
    }

    h3 {
      font-size: 22px;
      margin-top: 0;
    }
  }
}

// Special Collapse */

.open-collapse {
  box-shadow: none !important;
  font-size: 14px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;

  btn {
    border: 0;
    bottom: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000;

    &[aria-expanded="true"] {
      .close-text {
        display: block;
      }

      .expand-text {
        display: none;
      }
    }

    .close-text {
      display: none;
    }

    .cancel-block {
      background: $lightgrey;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: block;
    }
  }

  .panel-body {
    border: 0;
  }

  .collapse {
    display: block !important;
    max-height: 200px !important;
    overflow: hidden;
    position: relative;
    visibility: visible !important;

    &.in {
      max-height: none !important;

      .white-fade {
        display: none;
      }
    }

    .white-fade {
      @include background-image(linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)));
      bottom: 0;
      display: block;
      height: 150px;
      position: absolute;
      width: 100%;
    }
  }
}

// More Specifit training entry page */

.pull-right {
  &.course-image {
    margin: 0 0 20px 20px;
  }
}
