@import "../../static/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "mixins";

/* Colors */
$auburn: #bf571f;
$auburnoutline: #80310a;
$lightblue: #e8f4fa;
$sky: #d2f1ff;
$midsky: #79c9ef;
$darkgrey: #222222;
$darkish: #444444;
$middarkgrey: #767676;
$midgrey: #cccccc;
$midlightgrey: #e3e3e3;
$lightergrey: #eeeeee;
$lightgrey: #f5f5f5;
$tnrisblue: #1e8dc1;
$darkerblue: #0b658f;
$facebook: #3b5998;
$bsgrey: #9d9d9d;

$urgentblue: #127cae;
$lightyellow: #f9f8f0;
$successgreen: #5cb85c;
$successhover: #4b8a4b;
$error: #a94442;
$infoblue: #5bc0de;
$bluegreen: #35adac;

/* Font */
$opensans: 'Open Sans', sans-serif;
$pragmatica: "pragmatica-web-condensed",sans-serif;
$proxima: "proxima-nova",sans-serif;

/* Media Queries */
$break-med: 604px;
$break-med-two: 768px;
$break-topsmall: 485px;
$break-large: 992px;

$break-lg: 1200px;
$break-md: 992px;
$break-xs: 768px;


$footer-height: 250px;

/* transparent backgrounds */
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

/* Box Shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;

    @media (min-width: $screen-md) {
    	width: 100%;
    }

}

@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
