/* Colors */
$auburn: #ab4209;
$auburnoutline: #80310a;
$sky: #acddf4;
$midsky: #79c9ef;
$darkgrey: #222222;
$middarkgrey: #767676;
$midgrey: #cccccc;
$lightgrey: #f2f2f2;
$tnrisblue: #1e8dc1;
$urgentblue: #127cae;


/* Font */
$opensans: 'Open Sans', sans-serif;
$pragmatica: "pragmatica-web-condensed",sans-serif;

/* Media Queries */
$break-med: 604px;
$break-med-two: 768px;
$break-topsmall: 485px;
$break-large: 992px;