@import "../static/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

/* Colors */
$auburn: #bf571f;
$auburnoutline: #80310a;
$lightblue: #e8f4fa;
$sky: #acddf4;
$midsky: #79c9ef;
$darkgrey: #222222;
$middarkgrey: #767676;
$midgrey: #cccccc;
$lightgrey: #f7f7fc;
$tnrisblue: #1e8dc1;
$facebook: #3b5998;
$bsgrey: #9d9d9d;

$urgentblue: #127cae;
$lightyellow: #f9f8f0;
$successgreen: #5cb85c;
$successhover: #4b8a4b;
$error: #a94442;
$infoblue: #5bc0de;


/* Font */
$opensans: 'Open Sans', sans-serif;
$pragmatica: "pragmatica-web-condensed",sans-serif;

/* Media Queries */
$break-med: 604px;
$break-med-two: 768px;
$break-topsmall: 485px;
$break-large: 992px;

$break-lg: 1200px;
$break-md: 992px;
$break-xs: 768px;

/* transparent backgrounds */
@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

/* Box Shadow */
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset};
      -moz-box-shadow:$top $left $blur $color #{$inset};
      box-shadow:$top $left $blur $color #{$inset};
    }
