{% extends "base.html" %}
{% block topcontent %}
<div class="container-fluid full">

      <div class="top-container">
      {% if mainimage %}
        <img class="img-responsive center-block" src="{{ mainimage }}" alt="Main Image for Statewide Ortho project, a Texas Flag composed of imagery">
      {% endif %}

      <div class="top-header center-block">
          <div class="container">
            <h1>{{title}}</h1>
            {% if abstract %}
              <div class="lead">{{abstract}}</div>
            {% endif %}
            <a href="#a-statewide-resource" class="btn btn-default btn-lg smooth-scroll">More background about the project <i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
      </div>
      </div>
</div>
<!-- <div class="updates-header">
  <div class="container">
    <h2>Project Activity for the week of<br><strong>{{ status_date }}</strong></h2>
  </div>
</div> -->
<div class="ortho-top">
  <div class="container">
    <div id="project-updates" class="row">
        {% include "./partials/ortho-update.html" %}
    </div>
  </div>
</div>
{% endblock topcontent %}

{% block contents %}
<div class="row">
  	<div class="col-md-8">
  		{{ contents|safe }}
  </div>

    {% block rightContent %}
      <div class="col-sm-4 blog-sidebar">
        <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project POC</h3>
  </div>
  <div class="panel-body">
      <p>For further information or questions, contact the project manager,
      <strong>{{ author }}</strong> in the <a href="{{m.link('stratmap')}}">StratMap Program</a>, using the form below:
      <form>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputName">Phone</label>
    <input type="name" class="form-control" id="exampleInputName" placeholder="Enter your Phone #">
  </div>
  <div class="form-group">
    <label for="exampleInputOrg">Organization</label>
    <input type="name" class="form-control" id="exampleInputOrg" placeholder="Who are you affiliated with?">
  </div>
  <div class="form-group">
    <label for="exampleComments">Questions/Comments</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> I would like to sign up for email updates
    </label>
  </div>
  <button type="submit" class="btn btn-tnris btn-block">Submit</button>
</form>
 </div>
  </div>

    {% endblock rightContent %}
  </div>


</div>

{% endblock contents %}



