{%- macro catalog_data_card(search) -%}
  <ul class="data-cards media-list list-group">
    {{catalog_data_card_entry(search)}}
  </ul>
{%- endmacro -%}

{%- macro catalog_data_card_entry(search) -%}
  {%- set category = search['urlized_category'] || search.split('/')[0] -%}
  {%- set name = search['urlized_name'] || search.split('/')[1] -%}
  {%- set item = catalog|find({'urlized_category': category, 'urlized_name':name}) -%}

  <li class="media list-group-item">
   {% if item.thumb_url %}
      <a class="media-left" href="{{link(item.path)}}">
        <img class="media-object data-thumb" src="{{item.thumb_url}}" alt="thumbnail of {{item.name}} data set">
      </a>
     {% else %}
      <a class="media-left" href="{{link(item.path)}}">
        <img class="media-object" src="holder.js/100x100" alt="...">
      </a>
    {% endif %}
    <div class="media-body">
      <h3 class="media-heading">
        <a href="{{link(item.path)}}">{{item.name}}</a>

      <a href="{{link(item.path)}}" class="btn btn-sm btn-tnris pull-right"><span class="glyphicon glyphicon-info-sign"></span> Full Info
      </a>
      </h3>

      <div class="right-info">
        <strong>Access via:</strong>
        <ul>
          {% if item.download %}
            <li>
              <span class="glyphicon glyphicon-search"></span> Data Search &amp; Download
            </li>
          {% endif %}
          {% if item.download_link %}
            <li>
             <span class="glyphicon glyphicon-download-alt"></span> Direct Download
            </li>
          {% endif %}
          {% if item.order %}
            <li>
              <span class="glyphicon glyphicon-phone-alt"></span> Ordering
            </li>
          {% endif %}
          {% if item.wms_link %}
            <li>
              <span class="glyphicon glyphicon-globe"></span> Online Service
            </li>
          {% endif %}
        </ul>
      </div>

      <p>
        {{item.short_description}}
      </p>
    </div>
  </li>
{%- endmacro -%}

{%- macro link(str, path) -%}
  {{validateLink(str, crossref, path || filename)}}
{%- endmacro -%}

{%- macro wms_link(url) -%}
  <div class="input-group copy-url-container">
        <span class="input-group-btn">
      <button class="btn btn-tnris copy-url-btn" type="button">
        <i class="fa fa-clipboard"></i> Copy URL
      </button>
    </span>
    <input class="wms-url copy-url-input form-control" type="text" readonly value="{{url}}">

  </div>
{%- endmacro -%}

{%- macro ngCurly(str) -%}
  {%- set start = '{{' -%}
  {%- set end = '}}' -%}
  {{ start + str + end}}
{%- endmacro -%}


