<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <link rel="shortcut icon" href="favicon.ico">

    <title>TNRIS - Texas Natural Resources Information System | Public Geographic Data for Texas</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/tnris.css" rel="stylesheet">

    <!-- Styling for image slider -->
    <link href="css/twentytwenty.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
    {% block header %}
      <div class="title-header">
        <div class="container">
          <a class="navbar-brand" href="{{ crossref['index'] }}">Texas Natural Resources Information System</a>
          <a class="navbar-twdb hidden-sm hidden-xs" href="#">part of the<span>Texas Water Development Board</span></a>
          <a class="btn btn-tnris btn-md pull-right contact" href="#" role="button">
                 Contact Us <span class="glyphicon glyphicon-comment"></span></a>
        </div>
      </div>

      <!-- Fixed navbar -->

      <div id="mainNav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="row">
              <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div> -->
              <div class="col-sm-8">
                <div class="row">
              <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                  <li class="active"><a class="home-nav" href="{{ crossref['index'] }}">Home</a></li>
                  <li><a href="mapsanddata">Maps &amp; Data</a></li>
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle programs-nav " data-toggle="dropdown">Programs</a>
                    <ul class="dropdown-menu">
                      <li><a href="#">StratMap</a></li>
                      <li><a href="#">NFIP</a></li>
                      <li><a href="#">HPIDS</a></li>
                      <li><a href="#">Education &amp; Training</a></li>
                    </ul>
                  </li>
                  <li ><a href="#">About</a></li>
                  <li ><a class="gio" href="#">Geographic Information Office</a></li>
                </ul>
              </div>
            </div>
            </div>
              <div class="col-sm-4">
                <form class="navbar-form navbar-right" role="form">
                  <div class="form-group">
                    <input type="text" placeholder="Site &amp; Data Search" class="form-control">
                  </div>
                  <button type="submit" class="btn" > 
                   <!-- <span class="glyphicon glyphicon-search"></span> -->
                  </button>
                </form>
              </div>
            </div><!--/.nav-collapse -->
          </div>
      </div>
    {% endblock header %}

    {% block quick_nav %}
      <!-- Quick Nav Bar -->
      <div id="quickNav" class="navbar navbar-static-top" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav row">
            <li class="col-xs-5ths"><a class="downloaddata-quick" href="#"><div class="iconContainer"></div> Download Data <small class="hidden-xs hidden-sm">Access digital data directly</a></small></li>
            <li class="col-xs-5ths"><a class="orderdata-quick" href="#"><div class="iconContainer"></div> Order Data <small class="hidden-xs hidden-sm">Custom Data Requests</small></a></li>
            <li class="col-xs-5ths"><a class="wms-quick" href="#"><div class="iconContainer"></div> Web Map Services <small class="hidden-xs hidden-sm">Connect to WMS layers</small></a></li>
            <li class="col-xs-5ths"><a class="training-quick" href="#"><div class="iconContainer"></div> Training <small class="hidden-xs hidden-sm">Expand your GIS skills</small></a></li>
            <li class="col-xs-5ths"><a class="hpids-quick" href="#"><div class="iconContainer"></div> HPIDS <small class="hidden-xs hidden-sm">High Priority Imagery &amp; Data Sets</small></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    {% endblock quick_nav %}
    
    {% block topcontent %}
    {% endblock topcontent %}

     <div id="contentMain" class="container">
      {% block contents %}
      {% endblock contents %}
      <hr class="push">
     <div id="push"></div>
    </div>
   </div> <!-- full wrapper -->

  {% block footer %}
    <footer class="footer">
      <div class="container">
        <p>© Company 2014</p>
      </div>
    </footer>
  {% endblock footer %}

  {% block scripts %}
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/eventmove.js"></script>
    <script src="js/twentytwenty.js"></script>
    <script type="text/javascript" src="//use.typekit.net/rat5rkg.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script>
    $(window).load(function() {
    $("#imageCompare1, #imageCompare2, #imageCompare3, #imageCompare4, #imageCompare5, #imageCompare6, #imageCompare7").twentytwenty({default_offset_pct: .5});
    });
    </script>
  {% endblock scripts %}
  </body>
</html>
