<!DOCTYPE html>
<html lang="en">
  <head>
    {% block header %}
      {% include "./partials/header.html" %}
    {% endblock header %}

    {% block styles %}
      {% include "./partials/styles.html" %}
    {% endblock styles %}
  </head>

  <body>
    <div id="wrap">
      <!-- Fixed navbar -->
      {% include "./partials/navbar.html" %}
      <!-- end navbar -->

      {% block quick_nav %} {% endblock quick_nav %}
      
        <a id="mainContentAnchor"></a>
      {% block topcontent %} {% endblock topcontent %}

      <!-- Main Content -->
      <div id="contentMain" class="container">
          {% block contents %} {% endblock contents %}
        <!--   <hr class="push">
          <div id="push"></div> -->
      </div>
      <!-- end Main Content -->

      <!-- full wrapper -->

      {% block contents-two %} {% endblock contents-two %}
    </div>

    {% block footer %}
      {% include "./partials/footer.html" %}
    {% endblock footer %}

    {% block scripts %}
      {% include "./partials/scripts.html" %}
    {% endblock scripts %}
  </body>
</html>
