<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "./partials/header.html" %}

<!-- end Header -->

<body>
    <div id="wrap">
        <!-- Fixed navbar -->

        {% include "./partials/navbar.html" %}

        <!-- end navbar -->

        {% block quick_nav %} {% endblock quick_nav %}

        {% block topcontent %} {% endblock topcontent %}
        <!-- Main Content -->
        <div id="contentMain" class="container">
            {% block contents %} {% endblock contents %}
          <!--   <hr class="push">
            <div id="push"></div> -->
        </div>
        <!-- end Main Content -->



    <!-- full wrapper -->

    {% block contents-two %} {% endblock contents-two %}
    </div>
    {% block footer %}
      {% include "./partials/footer.html" %}
    {% endblock footer %}

    {% block scripts %}
      {% include "./partials/scripts.html" %}
    {% endblock scripts %}

</body>

</html>
