{% extends "base.html" %}

{%- macro contactFormItemBefore(name, display, type, required) -%}
  <div class="form-group has-feedback" ng-class="{'has-error': errors.{{name}}}">
    <div class="col-sm-3 label-col">
      <label for="{{name}}" class="control-label">{{display|capitalize}}</label>
    </div>
    <div class="col-sm-9">
{%- endmacro -%}

{%- macro contactFormItemAfter(name, display, type, required) -%}
      <div ng-show="errors.{{name}}" class="error pull-right">
        <div ng-show="form.{{name}}.$error.required">{{display|capitalize}} is required.</div>
        <div ng-show="form.{{name}}.$error.{{type}}">{{display|capitalize}} must be valid.</div>
      </div>
    </div>
  </div>
{%- endmacro -%}

{%- macro contactFormInput(name, display, type, required) -%}
  {{contactFormItemBefore(name, display, type, required)}}
  <input type="{{type}}" name="{{name}}" class="form-control" placeholder="Enter {{display}}" ng-model="contact.{{name}}" ng-model-options="{updateOn: 'blur'}" {% if required %}required{% endif %} />
  <span ng-show="errors.{{name}}" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
  {{contactFormItemAfter(name, display, type, required)}}
{%- endmacro -%}

{%- macro contactFormSelect(name, display, options, required) -%}
  {% set type="select" %}
  {{contactFormItemBefore(name, display, type, required)}}
  <select name="{{name}}" class="form-control" ng-model="contact.{{name}}" ng-options="option for option in ['{{ options|join("','") }}']" ng-class="{'placeholder': !contact.{{name}}}" {% if required %}required{% endif %}>
    <option value="">Select a {{display}}</option>
  </select>
  {{contactFormItemAfter(name, display, type, required)}}
{%- endmacro -%}

{% block styles %}
  {% parent %}

  <link href="css/contact.css" rel="stylesheet">
{% endblock scripts %}

{% block scripts %}
  {% parent %}

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="js/contact-forms.js"></script>
{% endblock scripts %}


{% block contents %}
<div class="row">
	<div class="col-md-8">
		<h1>{{title}}</h1>
		{% if abstract %}<div class="mainBlurb">{{abstract}}</div>{% endif %}
	</div>

	{% block sidebarLeft %}
	{% endblock sidebarLeft %}
</div>

<div class="row">
  <div class="col-xs-12">
    {{contents|safe}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-8">
    <div ng-app="ContactApp">
      <div ng-controller="ContactController">
        <form name="form" role="form" class="form-horizontal" novalidate ng-cloak>

          {{contactFormInput("name", "name", "text", true)}}
          {{contactFormInput("email", "email address", "email", true)}}
          {{contactFormInput("phone", "phone number", "tel", false)}}
          {{contactFormInput("address", "address", "text", true)}}

          {% set industries = [
            'Agriculture',
            'Cartography',
            'Conservation',
            'Construction',
            'Consulting',
            'Education',
            'Emergency Management',
            'Environmental',
            'Forestry',
            'Government',
            'Insurance',
            'Law Enforcement',
            'Oil and Gas',
            'Public Health',
            'Retail',
            'Utilities',
            'Urban Planning',
            'Other'
          ] %}
          {{contactFormSelect("industry", "industry", industries, true)}}

          {% set subjects = [
            'TNRIS Data',
            'TNRIS Training',
            'Borderland Information Center',
            'GEMSS',
            'General Inquiry',
            'Floodplain Mapping',
            'Strategic Mapping Program',
            'Texas GIS Forum'
          ] %}
          {{contactFormSelect("subject", "reason for contacting", subjects, true)}}

          <div ng-show="contact.subject == 'TNRIS Data'">
            {% set software = [
              'ArcMap',
              'ENVI',
              'ERDAS',
              'Global Mapper',
              'Integraph',
              'LP360',
              'Microstation',
              'PostGIS',
              'QGIS',
              'Other'
            ] %}
            {{contactFormSelect("software", "software", software, true)}}
          </div>

          <button type="submit" class="btn btn-default" ng-click="update(contact)" ng-disabled="form.$invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock contents %}
