{% extends "base.html" %}

{% import "_form_macros.html" as form %}


{% block styles %}
  {% parent %}

  <!-- note: this rule is included here to avoid distracting flashes/glitches if css file is slow or fails to load -->
  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }
  </style>

  <link href="css/contact.css" rel="stylesheet">
{% endblock scripts %}

{% block scripts %}
  {% parent %}

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="js/contact-forms.js"></script>
{% endblock scripts %}


{% block contents %}
<div class="row">
	<div class="col-md-8">
		<h1>{{title}}</h1>
		{% if abstract %}<div class="mainBlurb">{{abstract}}</div>{% endif %}
	</div>

	{% block sidebarLeft %}
	{% endblock sidebarLeft %}
</div>

<div class="row">
  <div class="col-xs-12">
    {{contents|safe}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6">
    <div id="ng-app" ng-app="FormApp">
      <div ng-controller="FormController">
        <form name="form" role="form" novalidate ng-cloak>

          {{form.select(
            "reason",
            "reason for contacting",
              [
              'TNRIS Data',
              'TNRIS Training',
              'Borderland Information Center',
              'GEMSS',
              'General Inquiry',
              'Floodplain Mapping',
              'Strategic Mapping Program',
              'Texas GIS Forum'
            ],
            true
          )}}

          {% set show_software = "form_model.reason == 'TNRIS Data'" %}
            {{form.software_inputs(show_software)}}

          {{form.textarea(
              "question_or_comments",
              "Question / Comments",
              true,
              true
          )}}

          {{form.input("name", "name", "text", true)}}
          {{form.input("email", "email address", "email", true)}}
          {{form.input("phone", "phone number", "tel", false)}}
          {{form.input("address", "address", "text", true)}}
          {{form.input("organization", "organization", "text", false)}}
          {{form.industry()}}

          {{form.submit()}}
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock contents %}
