{% extends "base.html" %}

{% block contents %}
  {%- set images = [
    {
      'alt': 'Overview image preview of ' + name + 'data',
      'button': {
        'class': 'btn-tnris',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'overview'
      },
      'url': overview_image_url
    }, {
      'alt': 'Image preview of urban features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'urban'
      },
      'label': 'urban',
      'url': urban_image_url
    }, {
      'alt': 'Image preview of detailed features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'detail'
      },
      'url': detail_image_url
    }, {
      'alt': 'Image preview of natural features in ' + name + ' data',
      'button': {
        'class': 'btn-tnris',
        'icon': 'glyphicon glyphicon-camera',
        'label': 'natural features'
      },
      'url': natural_image_url
    }, {
      'alt': 'Coverage map for ' + name + ' data',
      'button': {
        'class': 'btn-danger',
        'icon': 'fa fa-crosshairs',
        'label': 'coverage map'
      },
      'url': status_map_url
    }
  ] -%}


  <div class="row">
    <ol class="breadcrumb">
      <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="maps-and-data">Maps &amp; Data</a></li>
      <li><a href="data-catalog">Data Catalog</a></li>
      <li><a href="{{crossref['data-catalog']}}/#{{urlized_category}}">{{ category }}</a></li>
      <li class="active">{{ name }}</li>
    </ol>
  </div>
  <div id="catalogEntryContent" class="row">
    <h1>{{ name }}</h1>
    <div id="catalog-main-image">
      <div id="carousel-data-catalog" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
          {% set active_set = false %}
          {% for image in images %}
            {% if image.url %}
              <div class="item{% if !active_set %} active{% endif %}">
                <img class="img-responsive image-one" src="{{image.url}}" alt="{{image.alt}}">
              </div>
              {% set active_set = true %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="btn-group">
          {% set i = 0 %}
          {% for image in images %}
            {% if image.url %}
              <button data-target="#carousel-data-catalog" data-slide-to="{{i}}" type="button" class="btn {{image.button.class}} "><span class="{{image.button.icon}}"></span> {{image.button.label}}</button>
              {% set i += 1 %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="data-callout">
        <div class="row">
          <table>
            <thead>
              <tr>
                <th class="col-sm-3">Category:</th>
                <th class="col-sm-4">tags:</th>
                <th class="col-sm-2">Date(s):</th>
                <th class="col-sm-3">Source(s):</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td class="col-sm-3"><a href="{{crossref['data-catalog']}}/#{{urlized_category}}">{{ category }}</a></td>
                <td class="col-sm-4">
                  <ul>
                    {% for tag in tags %}
                      <li>{{tag}}</li>
                    {% endfor %}
                  </ul>
                <td class="col-sm-2">{{ date_created }}</td>
                <td class="col-sm-3">{{ source }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="data-access" class="col-md-4 hidden-sm hidden-xs">
          <h2>Data Access</h2>

          {% if download_link %}
            <h4>Direct Download</h4>
            <p>The full <em>{{ name }}</em> data set can be downloaded directly.</p>
            <p>Download the <strong>{{ download_size }}</strong> file here</p>
            <p><a href="{{ download_link }}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-download-alt"></span> Download <span class="hidden-sm hidden-xs hidden-md">Data Set</span></a></p>
          {% endif %}

          {% if download %}
            <h4>Data Search &amp; Download</h4>
            <p>Use our online tool to specify the geographic area for which you would like to download the <em>{{ name }}</em> data set.  </p>
            <p><a href="data-download" class="btn btn-tnris btn-lg"><span class="glyphicon glyphicon-search"></span> Launch <span class="hidden-sm hidden-xs hidden-md">Data Search &amp; </span>Download </a></p>
          {% endif %}

          {% if order %}
          <h4>Custom Ordering</h4>
          <p><em>{{ name }}</em> is in the public domain and available from the <a href="rdc">Research and Distribution Center</a> for the cost of reproduction.</p>
          <p><a href="order-data" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-envelope"></span> Order <span class="hidden-sm hidden-xs hidden-md">Data</span></a></p>
          {% endif %}
          {% if wms_link %}
            <h4>Online Mapping Service</h4>

            <p><em>{{ name }}</em> is available as an online mapping service.</p>
            <p>Copy the URL below and enter it into your program to access.</p>
            <p><span class="wms-url">{{ wms_link }}</a></p>
            <p> <a href="#"  class="btn btn-info btn-lg"><span class="glyphicon glyphicon-globe"></span> Copy Url</a></p>
          {% endif %}
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="description">
            <h2>Description</h2>
            <p>{{ description|markdown }}</p>
          </div>

          <p>{{ contents|safe }}</p>

          <div id="metadata" class="panel panel-info">
            <div class="panel-heading">
              <h3>More Details</h3>
            </div>

            <div class="panel-body">
              <table>
                <tbody>
                  <tr>
                    <td><strong>Available Formats:</strong></td>
                    <td>{{ available_formats }}</td>
                  </tr>
                  <tr>
                    <td><strong>Coverage Availability <br>/Geographic Extent:</strong></td>
                    <td>{{ coverage_extent }}</td>
                  </tr>
                  <tr>
                    <td><strong>Footprint:</strong></td>
                    <td>{{ footprint }}</td>
                  </tr>

                      {% if download_size %}
                  <tr>

                    <td><strong>Dataset Size:</strong></td>
                    <td>
                        {{ download_size }}
                      {% else %}<em>N/A - Not Available for Download</em></td>
                  </tr>
                  {% endif %}
                  <tr>
                    <td><strong>Recommended Use:</strong></td>
                    <td>{{ recommended_use }}</td>
                  </tr>
                  <tr>
                    <td><strong>Known Issues:</strong></td>
                    <td>{% if known_issues %}{{ known_issues }}{% else %}<em>None</em>{% endif %}</td>
                  </tr>
                  <tr>
                    <td><strong>Alternative Data:</strong></td>
                    <td>{% if alternative_data %}{{ alternative_data }}{% else %}<em>None Available</em>{% endif %}</td>
                  </tr>
                  <tr>
                    <td><strong>Derivative Data:</strong></td>
                    <td>{% if derivative_data %}{{ derivative_data }}{% else %}<em>None Available</em>{% endif %}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contents %}

{% block scripts %}
  {% parent %}

  <script type="text/javascript">
    $(function() {
      $('.carousel').carousel();
    });
  </script>
{% endblock scripts %}
