{% extends "base.html" %}

{% block contents %}
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="data-catalog">Data Catalog</a></li>
      <li><a href="data-catalog#{ category_path }">{{ category }}</a></li>
      <li class="active">{{ title }}</li>
    </ol>
  </div>
  <div id="catalogEntryContent" class="row">
      <div id="catalog-main-image">
        <h1>{{ name }}</h1>
       {% if main_image %}
        <img class="img-responsive" src="{{ main_image }}" alt="Sample of {{ title }} data">
          <div class="btn-group">
            <button type="button" class="btn btn-tnris">Overview</button>
            <button type="button" class="btn btn-tnris">1</button>
            <button type="button" class="btn btn-tnris">2</button>
          </div>
        {% else %}
        <img class="img-responsive" src="holder.js/100%x400" alt="No Preview Available"> 
        <div class="btn-group">
            <button type="button" class="btn btn-tnris">Overview</button>
            <button type="button" class="btn btn-tnris">1</button>
            <button type="button" class="btn btn-tnris">2</button>
          </div>
        {% endif %}
          <div class="data-callout">
            <div class="row">
              <table>
                <thead>
                  <tr>
                    <th class="col-sm-3">Category:</th>
                    <th class="col-sm-4">tags:</th>
                    <th class="col-sm-2">Date(s):</th>
                    <th class="col-sm-3">Source(s):</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-sm-3"><a href="#">{{ category }}</a></td>
                    <td class="col-sm-4"><a href="#">{{ tags }}</a> </td>
                    <td class="col-sm-2">{{ date_created }}</td>
                    <td class="col-sm-3">{{ source }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <div class="description">
            <h2>Description</h2>
            <p>{{description}}</p>
        </div>
        <p>{{ contents|safe }}</p>
         <div id="metadata" class="panel panel-info">
           <div class="panel-heading">
              <h3>More Details</h3>
           </div>
              <div class="panel-body">
              <table>
                  <tbody>
                  <tr>
                    <td><strong>Available Formats:</strong></td>
                    <td>{{ available_formats }}</td>
                  </tr>
                  <tr>
                    <td><strong>Coverage Availability <br>/Geographic Extent:</strong></td>
                    <td>{{ coverage_extent }}</td>
                  </tr>
                  <tr>
                    <td><strong>Footprint:</strong></td>
                    <td>{{ footprint }}</td>
                  </tr>
                  <tr>
                    <td><strong>Download Size:</strong></td>
                    <td>{{ download_size }}</td>
                  </tr>
                  <tr>
                    <td><strong>Recommended Use:</strong></td>
                    <td>{{ recommended_use }}</td>
                  </tr>

                  <tr>
                    <td><strong>Known Issues:</strong></td>
                    <td>{% if known_issues %}{{ known_issues }}{% else %}<em>None</em>{% endif %}</td>
                  </tr>
                  <tr>
                    <td><strong>Alternative Data:</strong></td>
                    <td>{% if alternative_data %}{{ alternative_data }}{% else %}<em>None Available</em>{% endif %}</td>
                  </tr>
                  <tr>
                    <td><strong>Derivative Data:</strong></td>
                    <td>{% if derivative_data %}{{ derivative_data }}{% else %}<em>None Available</em>{% endif %}</td>
                  </tr>
            </tbody>
             </table>
           </div>
        </div>
      </div>
      <div id="data-access" class="col-md-4">
          <h2>Data Access</h2>
          <h4>Direct Download</h4>
          <p>This data is available online through our Data Search & Download</p>
          <p> <a href="#"  class="btn btn-danger btn-lg center-block">Download Data</a></p>
          <h4>Custom Ordering</h4>
          <p>The <strong>{{ name }}</strong> dataset is in the public domain and available from the <a href="rdc">Research and Distribution Center</a> for the cost of reproduction.</p>
          <p> <a href="#"  class="btn btn-tnris btn-lg center-block">Order Data</a></p>
         
        </div>
    </div>
</div>

  {% endblock contents %}


