{% extends "base.html" %} 

{% block contents %}

<div class="row">
    <div id="dataPageContent" class="col-md-9">
        <h1>{{ title }}</h1>
        <div class="mainBlurb">{{ contents|safe }}</div>
        <div class="row">
            <h2>Boundary</h2>
        {% for boundary_item in "datacatalog/boundary" %}
          {% if loop.index <= 3 %}
            <div class="media col-md-4">
              <a class="pull-left" href="{{ boundary_item.path }}">
                <img class="media-object" src="{{ boundary_item.thumbnail }}" alt="...">
              </a>
              <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ boundary_item.path }}">{{ boundary_item.title }}</a>
                </h4>
                <p>
                  {{ boundary_item.abstract }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
    </div>

    <div id="mainDataList" class="col-md-3">
        <h2>Browse Data by Category</h2>
        <ul>
            <li><a href="#">Bathymetry (2)</a>
            </li>
            <li><a href="#">Boundary (7)</a>
            </li>
            <li><a href="#">
                Compressed Mosaic (4)</a>
            </li>
            <li><a href="#">
                Cultural (13)</a>
            </li>
            <li><a href="#">
                Demographics (5)</a>
            </li>
            <li><a href="#">
                Digital Ortho Quadrangle (DOQQ) (3)</a>
            </li>
            <li><a href="#">
                Digital Raster Graphics (DRG) (3)</a>
            </li>
            <li><a href="#">
                Elevation (3)</a>
            </li>
            <li><a href="#">
                Floodplain (11)</a>
            </li>
            <li><a href="#">
                Geology (7)</a>
            </li>
            <li><a href="#">
                Hydrography (4)</a>
            </li>
            <li><a href="#">
                Imagery (4)</a>
            </li>
            <li><a href="#">
                LandSAT (15)</a>
            </li>
            <li><a href="#">
                LiDAR (6)</a>
            </li>
            <li><a href="#">
                Natural Regions (3)</a>
            </li>
            <li><a href="#">
                Satellite Imagery (8)</a>
            </li>
            <li><a href="#">
                Transportation (8)</a>
            </li>
            <li><a href="#">
                Weather (7)</a>
            </li>
        </ul>


    </div>
</div>

{% endblock contents %}