{% extends "page.html" %}


{% block extracontent %}

{% endblock extracontent %}

{% block sidebarLeft %}
	<div class="col-md-4">
		<h3>Training Facilities</h3>
		<p>
		<address>
			TCEQ Computer Training Lab<br>
			12100 Park Thirty Five Circle, Building A,
			Room 234/235<br>
			Austin, TX 78753 
			</address>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3441.477870524737!2d-97.67512999999995!3d30.394180999999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644c9344505c47d%3A0x1252c18c475b319d!2sTexas+Commission+on+Environmental+Quality!5e0!3m2!1sen!2sus!4v1412005665318" width="100%" height="300" frameborder="0" style="border:0"></iframe>
		</p>
	</div>
{% endblock sidebarLeft %}