{% extends "base.html" %}

{% block topcontent %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div id="home-top-content" class="container-fluid">
              <img class="img-responsive" src="images/forum2.jpg">
              <div class="forum-date-runner text-center"><strong>October 20th – 23rd, 2014 | Austin, Texas</strong><p>Texas's Premier Event for the Geospatial Community</p></div>

  </div>
{% endblock topcontent %}


{% block contents %}

    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3 col-sm-12">
            
         </div>
     <!--   -->
     <div class="col-md-6 col-sm-8">
         </div>

    </div>

{% endblock contents %}


