{% extends "page.html" %}

{% block extracontent %}
{% endblock extracontent %}

  {% block sidebarLeft %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Next Meeting</h2>
    </div>
    <div class="panel-body">
      <h3>January 20th, 2015 - 2PM to 4PM</h3>
      <p>
        Stephen F. Austin Building, Room 170<br>
        1700 N. Congress <a href="#">map</a>
      </p>
    </div>
  </div>
  <h3>Updates</h3>

  {% for gio_item in giostories %}
          {% if loop.index <= 4 %}
            <div class="media">
              <div class="media-body">
                <time>{{ gio_item.date|date('F jS, Y') }}</time>
                <h4 class="media-heading">
                <a href="{{ gio_item.path }}">{{ gio_item.title }}</a></h4>
                <p>
                  {{ gio_item.abstract }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
  {% endblock sidebarLeft %}