{% extends "page.html" %}
{% import '_macros.html' as m %}

{% block extracontent %}
  <h2>GIO News</h2>
  <ul class="news-list">
  {% for gio_item in geographic_information_office %}
    {% if loop.index <= 4 %}
      <li class="media">
        <div class="media-left">
          <a href="{{m.link(gio_item.preserved)}}"><img  src="{{gio_item.thumbnail}}" alt="Thumbnail image for {{gio_item.title}}"></a>
        </div>
        <div class="media-body">
          <time>{{ gio_item.date|date('F jS, Y') }}</time>
          <h3 class="media-heading">
          <a href="{{m.link(gio_item.preserved)}}">{{ gio_item.title }}</a></h3>
          <p>
            {{ gio_item.abstract }}
          </p>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock extracontent %}

{% block sidebarLeft %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Next GIS Community Meeting</h3>
    </div>
    <div class="panel-body">
      <h3>January 20th, 2015 - 2PM to 4PM</h3>
      <p>
        Stephen F. Austin Building, Room 170<br>
        1700 N. Congress <a href="https://goo.gl/maps/E6uZG">map</a>
      </p>
    </div>
  </div>

{% endblock sidebarLeft %}
