{% extends "base.html" %} 

{% block contents %}
<div id="pageheader"><h1>{{ title }}</h1>
</div>
<div class="row">

    <div id="dataPageContent" class="col-md-9">
        <h2>{{ abstract }}</h2>
        <br>
        {{ contents|safe }}
    </div>

    <div id="mainDataList" class="col-md-3">
        <h3>Approved Vendors</h3>
            <ul>
              {% for vendor in variables.vendors %}
                <li><img src="{{vendor.thumbnail}}"><a href="{{vendor.url}}">{{vendor.name}}</a></li>
              {% endfor %}
            </ul>


    </div>
</div>

{% endblock contents %}