{% extends "page.html" %}

{% block extracontent %}

		<h2>Approved Vendors</h2>
  <!-- Table -->
	     <ul class="list-group">
			      {% for vendor in variables.vendors %}
			        <li class="list-group-item col-md-4"  style="display:inline-block; height: 150px;">
				        <p>
						{% if vendor.thumbnail %}
					        <a href="{{vendor.url}}">
					        	<img class="center-block" src="{{vendor.thumbnail}}" alt="{{vendor.name}} Logo and link to website">
					        </a>
					        {% else %}
					         <img src="holder.js/100%x100" alt="No Preview Available">
					         {% endif %}
				    	</p>
				        <p>
				        <a href="{{vendor.contractlink}}}"><i class="fa fa-file-pdf-o"></i> View Master Contract</a>
				        </p>
			    	</li>
			      {% endfor %}
			</ul>
{% endblock extracontent %}

<!-- {% block sidebarLeft %}
	<div class="col-md-3">
		<h3>Approved Vendors</h3>
		
	</div>
{% endblock sidebarLeft %} -->
