{% extends "page.html" %}

{% block extracontent %}
  <h2>Approved Vendors</h2>
  <ul class="list-group">
    {% for vendor in variables.vendors %}
      <li class="list-group-item col-md-4 vendor-block">
        <p>
          {% if vendor.thumbnail %}
            <a href="{{vendor.url}}">
              <img class="center-block" src="{{vendor.thumbnail}}" alt="{{vendor.name}} Logo and link to website">
            </a>
           {% else %}
            <a href="{{vendor.url}}">
              <div>{{vendor.name}}</div>
            </a>
          {% endif %}
        </p>
        <p>
          {% if vendor.contractlink %}
            <a href="{{vendor.contractlink}}"><i class="fa fa-file-pdf-o"></i> View Master Contract</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>
{% endblock extracontent %}

{% block sidebarLeft %}
{% endblock sidebarLeft %}
