{% extends "base.html" %}

{% block topcontent %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div id="home-top-content" class="container">
          <div class="row">
            <div id="quickNav" class="col-md-3 col-sm-12 col-xs-12">
            <h3>Start exploring our <strong>data</strong></h3>
            <ul class="list-group row">
              <li class="list-group-item col-md-12  col-sm-3 col-xs-3">
                <a class="training-quick" href="{{crossref['data-catalog']}}">
                  <div class="iconContainer"><i class="fa fa-archive"></i></div> Data Catalog 
                  <small class="hidden-xs">Browse data sets</a></small>
              </li>
              <li class="list-group-item col-md-12 col-sm-3 col-xs-3">
                <a class="downloaddata-quick" href="{{crossref['data-catalog']}}"><div class="iconContainer"><i class="fa fa-download"></i></div> Download Data 
                  <small class="hidden-xs">Access digital data directly</small></a>
              </li>
              <li class="list-group-item col-md-12 col-sm-3 col-xs-3"><a class="orderdata-quick" href="#">
                <div class="iconContainer"><span class="glyphicon glyphicon-phone-alt"></span></div> Order Data 
                <small class="hidden-xs">Custom data requests</small></a>
              </li>
              <li class="list-group-item col-md-12 col-sm-3 col-xs-3"><a class="wms-quick" href="mapsanddata/web-mapping-services">
                <div class="iconContainer"><span class="glyphicon glyphicon-globe"></span></div> Online Map Services 
                <small class="hidden-xs ">WMS layers and more</small></a>
              </li>
            </ul>
            <div class="social-front text-center">Connect With Us: <i class="fa fa-twitter"></i> <i class="fa fa-facebook"></i> <i class="fa fa-github"></i></div>
            </div>

            <div id="front-image-container" class="col-md-9 col-sm-12 col-xs-12">
              <img class="img-responsive" src="images/forum2.jpg">
              <div class="forum-links hidden-xs">
                <a href="forum-agenda"><span class="glyphicon glyphicon-info-sign"></span> More info</a>
                <a href="forum-agenda"><span class="glyphicon glyphicon-list-alt"></span> Agenda</a>
              </div>
              <div class="forum-date-runner text-center"><strong>October 20th – 23rd, 2014 | Austin, Texas</strong><p>Texas's Premier Event for the Geospatial Community</p></div>
            </div>
      <!-- <a class="btn btn-primary btn-lg" role="button">Learn more »</a> -->
        </div>
  </div>
{% endblock topcontent %}


{% block contents %}

    <!-- Example row of columns -->
    <div class="row">
        <div id="front-sidebar" class="col-md-3 col-sm-12">
            <div id="around-state-front">
                <h2>Around the State</h2>
                
                <h4><a href="#">Sterling Harris: Steward of Texas Land and Water</a></h4>

                  <p>
                <img src="images/around-the-state/sterling_th_2.jpg" class="img-responsive pull-left">It was the Texas Hill Country near Austin that ignited a passion for the land in Sterling Harris. He grew up in a ranching family, then worked in the oil ...</p>
               
                <p class="text-center"><a class="btn btn-tnris" href="#" role="button">Read More <span class="glyphicon glyphicon-chevron-right"></a></p>
            </div>
          <div id="training-front">
              <h2>Accessible GIS Training</h2>
              <ul>
                <li><time>March 15, 2014</time><h4><a href="#">Fundamentals of ArcGIS</a></h4>Learn how to use Google Earth to attach vital information to your features including photos, videos, and more.</li>
                <li><time>March 20, 2014</time><h4><a href="#">Arc Hydro: GIS for Water Resources</a></h4>Learn about the Arc Hydro data model and tools and how to implement them from real-world examples.</li>
                <li><time>March 27, 2014</time><h4><a href="#">Converting ArcGIS Data to Google Earth</a></h4>Visualize your existing ArcGIS data in a Google Earth viewer</li>
              </ul>
              <p class="text-center"><a class="btn btn-tnris" href="training" role="button">Full Course List <span class="glyphicon glyphicon-chevron-right"></a></p>
          </div>

         </div>
     <!--   -->
     <div class="col-md-6 col-sm-8">
          <div id="updates" class="col-lg-height">
          <h2>Latest News</h2>
          <ul>
          {% for news_item in news %}
            {% if loop.index <= 4 %}
              <li class="media">
                <a class="pull-left" href="{{ news_item.path }}">
                  <img class="media-object" src="{{ news_item.thumbnail }}" alt="...">
                </a>
                <div class="media-body">
                  <time>{{ news_item.date|date('F jS, Y') }}</time>
                  <h4 class="media-heading">
                  <a href="{{ news_item.path }}">{{ news_item.title }}</a></h4>
                  <p>
                    {{ news_item.abstract }}
                  </p>
                </div>
              </li>
            {% endif %}
          {% endfor %}
          </ul>
          <p class="text-center"><a class="btn btn-tnris" href="{{ crossref['updates'] }}" role="button">More Updates <span class="glyphicon glyphicon-chevron-right"></a></p>
        </div>
      </div>

      <div id="dataSpot" class="col-md-3 col-sm-4">
        <h2>Data Spotlight</h2>
        <p class="spotText">A closer look at featured data and maps from our own catalog and other sources.</p>
        <ul class="media-list row">
         {% for spotlight in spotlights %}
           {% if loop.index <= 4 %}
             <li class="media col-xs-12">
               <a href="{{ spotlight.path }}">
                 <img class="media-object img-responsive" src="{{ spotlight.thumb }}" alt="...">
                 <h4>{{ spotlight.title }}</h4>
               </a>
             </li>
           {% endif %}
         {% endfor %}
        </ul>
        <!-- <p class="text-center"><a href="http://getbootstrap.com/examples/jumbotron/#" role="button">Explore Spotlights »</a></p> -->
     </div>

    </div>

{% endblock contents %}

{% block contents-two %}
<div id="highlights">
  <div class="container">
    <div class="row">

      <h3 class="text-center">Providing the Highest Level of Geographic Data Services to the People of Texas</h3>
      <div class="col-sm-4">
        <div class="highlightBox">
          <div class="image-container">
            <h2>Research &amp; Distribution</h2>
            <img class="img-responsive"  src="images/highlights/staff.jpg">
          </div>
          <p>Let our hands-on team of data specialists assist you with physical map products and other datasets, many unavailable online.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="highlightBox">
          <div class="image-container">
            <h2>Geographic Information Office</h2>
            <img class="img-responsive"  src="images/highlights/elpaso.jpg">
          </div>
          <p>TNRIS hosts the State of Texas’s Geographic Information Office (GIO), an inter-agency initiative to collaborate and facilitate the effective use of G.I.S. in state and local government.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="highlightBox">
          <div class="image-container">
            <h2>Texas GIS Forum</h2>
            <img class="img-responsive" src="images/highlights/forum.jpg">
          </div>
          <p>Our annual gathering of the Texas GIS community, showcasing the latest innovations and talent in the field.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock contents-two %}
