{% extends "base.html" %}
 {% block quick_nav %}
      <!-- Quick Nav Bar -->
      <div id="quickNav" class="navbar navbar-static-top" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav row">
            <li class="col-xs-5ths"><a class="downloaddata-quick" href="{{crossref['data-catalog']}}"><div class="iconContainer"></div> Download Data <small class="hidden-xs hidden-sm">Access digital data directly</a></small></li>
            <li class="col-xs-5ths"><a class="orderdata-quick" href="#"><div class="iconContainer"></div> Order Data <small class="hidden-xs hidden-sm">Custom Data Requests</small></a></li>
            <li class="col-xs-5ths"><a class="wms-quick" href="#"><div class="iconContainer"></div> Web Map Services <small class="hidden-xs hidden-sm">Load WMS layers</small></a></li>
            <li class="col-xs-5ths"><a class="training-quick" href="#"><div class="iconContainer"></div> Training <small class="hidden-xs hidden-sm">Expand your GIS skills</small></a></li>
            <li class="col-xs-5ths"><a class="hpids-quick" href="#"><div class="iconContainer"></div> HPIDS <small class="hidden-xs hidden-sm">High Priority Imagery &amp; Data Sets</small></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
  {% endblock quick_nav %}
{% block topcontent %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <img class="img-responsive" src="images/2014forumbanner.jpg">
      <!-- <a class="btn btn-primary btn-lg" role="button">Learn more »</a> -->
    </div>
  </div>
{% endblock topcontent %}


{% block contents %}

    <!-- Example row of columns -->
    <div class="row">
      <div id="updates" class="col-md-5 col-sm-12">
        <h2>Latest News</h2>
        {% for news_item in news %}
          {% if loop.index <= 4 %}
            <div class="media">
              <a class="pull-left" href="{{ news_item.path }}">
                <img class="media-object" src="{{ news_item.thumbnail }}" alt="...">
              </a>
              <div class="media-body">
                <time>{{ news_item.date|date('F jS, Y') }}</time>
                <h4 class="media-heading">
                <a href="{{ news_item.path }}">{{ news_item.title }}</a></h4>
                <p>
                  {{ news_item.abstract }}
                </p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <p class="text-center"><a class="btn btn-tnris" href="{{ crossref['updates'] }}" role="button">More Updates »</a></p>

      </div>
      <div class="col-md-4 col-sm-8">
        <h2>Connect With Us</h2>
        <a class="twitter-timeline" href="https://twitter.com/TNRIS" data-widget-id="507648696595382272" data-tweet-limit="1">Tweets by @TNRIS</a>
        <p>Use the <a class="tag" href="#">#txGIS</a> tag on your social media to post and follow updates on the Texas GIS and mapping community.</p>
        <h2>Accessible GIS Training</h2>
        <p>Our training program has the classes you need to enhance your geospatial knowledge.</p>
        <ul class="trainingFront">
          <li><strong>March 15, 2014</strong><br><a href="#">Fundamentals of ArcGIS</a></li>
          <li><strong>March 20, 2014</strong><br><a href="#">Arc Hydro: GIS for Water Resources</a></li>
          <li><strong>March 27, 2014</strong><br><a href="#">Converting ArcGIS Data to Google Earth</a></li>
        </ul>
        <a href="#"> >>> See the full course listing</a>
      </div>
      <div class="col-md-3 col-sm-4">
        <div id="dataSpot" class="col-lg-height">
        <h2>Data Spotlight</h2>
        <p class="spotText">A closer look at featured data and maps from our expansive catalog</p>
        <ul class="media-list">
         {% for spotlight in spotlights %}
           {% if loop.index <= 3 %}
             <div class="media">
               <a href="{{ spotlight.path }}">
                 <img class="media-object" src="{{ spotlight.image }}" alt="...">
                 <h4>{{ spotlight.title }}</h4>
               </a>
             </div>
           {% endif %}
         {% endfor %}
        </ul>
        <p class="text-center"><a href="http://getbootstrap.com/examples/jumbotron/#" role="button">Explore Spotlights »</a></p>
        </div>
     </div>
    </div>



{% endblock contents %}

{% block contents-two %}
<div id="highlights">
  <div class="container">
    <div class="row">

      <h3 class="text-center">Providing the Highest Level of Geographic Data Services to the People of Texas</h3>
      <div class="col-sm-4 col-xs-4">
        <div class="highlightBox">
          <img class="img-responsive"  src="images/highlights/forum.jpg">
          <h4>Research &amp; Distribution</h4>
          <p>Let our hands-on team of data specialists assist you with physical map products and other datasets unavailable online.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-4">
        <div class="highlightBox">
          <img class="img-responsive"  src="images/highlights/elpaso.jpg">
          <h4>Geographic Information Office</h4>
          <p>TNRIS is the key coordinator of the State of Texas’s G.I.O (Geographic Information Office), an inter-agency initiative to collaborate and facilitate the effective use of G.I.S. in state and local government.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
      <div class="col-sm-4 col-xs-4">
        <div class="highlightBox">
          <img class="img-responsive" src="images/highlights/forum.jpg">
          <h4>Texas GIS Forum</h4>
          <p>Our annual gathering of the Texas GIS community, showcasing the latest innovations and talent in the field.</p>
          <a class="btn btn-default" href="#" role="button">View details »</a>
        </div>
      </div>
    </div>
  </div>
  </div>

{% endblock contents-two %}


{% block scripts %}
  {% parent %}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endblock scripts %}
