{% extends "base.html" %}
{% import '_macros.html' as m %}

{% block contents %}
  <div class="row">
    <div id="dataPageContent" class="col-md-12">
      <div class="row">
        <div class="col-sm-7 col-lg-8">
            <h1>{{ title }}</h1>
          <div class="lead">
            {{ contents|safe }}
        </div>
        </div>
        <div class="col-sm-5 col-lg-4">
          <div class="bs-callout bs-callout-info">
            <div class="panel-body">
              <a href="{{m.link('order-data')}}" class="btn btn-success btn-block"><span class="glyphicon glyphicon-envelope"></span> Custom Data Order Form</a>
              <p>
                This is a direct link to our Custom Data Order form to obtain customer service through the <a href="{{m.link('maps-and-data/research-and-distribution')}}"><abbr title="Research & Distribution">RDC</abbr></a>
              <p>
              <h4>Important Note</h4>
              <p> <strong>Many datasets are available online and don't require custom ordering</strong></p>
              <p>We recommend exploring our <a href="{{m.link('data-catalog')}}">data catalog</a> if you are unfamiliar with TNRIS data or require more information.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% block mapsdata_content %}
    {% set content_items = [
      {
        name: 'Data Catalog',
        description: 'Browse through available TNRIS datasets and map products, whether available online or through ordering.',
        image: 'images/maps-and-data/oldphoto.jpg',
        alt_text: 'An black and white aerial photo sticking out of a folder',
        link: 'data-catalog',
        button_text: 'Browse the Catalog'
      }, {
        name: 'Research &amp; Distribution (RDC)',
        description: 'The RDC offers a variety of additional products, support and services from our in-house staff. We provide hands-on assistance and expertise.',
        image: 'images/maps-and-data/open_folders.jpg',
        alt_text: 'The photoset library at TNRIS',
        link: 'maps-and-data/research-and-distribution',
        button_text: 'Order Data'
      }, {
        name: 'Data Download',
        description: 'The quickest way to search and download TNRIS data that is available online.',
        image: 'images/maps-and-data/download_grid.jpg',
        alt_text: 'Some sample datasets in a grid',
        link: crossref['data-download'],
        button_text: 'Start Downloading'
      }, {
        name: 'Online Mapping Services',
        description: 'Data sets optimized for access through WMS.',
        image: 'images/maps-and-data/online-services-transmitter.jpg',
        alt_text: 'Picture symbolizing datasets being used as online services',
        link: 'maps-and-data/online-mapping-services',
        button_text: 'View our services'
      }, {
        name: 'Custom Map Creation',
        description: 'Our trained staff can help you create the map you need using TNRIS and public data.',
        image: 'images/highlights/ranch_map_small.jpg',
        alt_text: 'An example of a custom ranch map',
        link: 'maps-and-data/custom-maps',
        button_text: 'More about Custom Maps'
      }, {
        name: 'Data &amp; Mapping Solutions',
        description: 'Applying design, communication, and technology skills to provide data solutions and cartographic products for internal geospatial development.',
        image: 'images/highlights/custom_maps.jpg',
        alt_text: 'Staff assisting a customer with a paper map',
        link: 'maps-and-data/data-and-mapping-solutions',
        button_text: 'Learn More <span class="sr-only">about Data &amp; Mapping Solutions</span>'
      }
    ] %}

     {# possible future sections

      }, {
        name: 'Educational Resources',
        description: 'Online tutorials, walkthroughs and more.',
        image: 'holder.js/200x120',
        link: '#',
        button_text: 'Learn More'
      }, {
        name: 'Developers',
        description: 'TNRIS incorporates many open source technologies that are available to developers with interest.',
        image: 'holder.js/200x120',
        link: '#',
        button_text: 'Learn More'
     #}

     <div class="row data-catalog-items">
      {% for item in content_items %}
        <div class="media col-xs-12 col-sm-6">
          <h2 class="media-heading">{{item.name}}</h2>
          <a class="media-left" href="{{m.link(item.link)}}">
            <img class="thumbnail" src="{{item.image}}" alt="{{item.alt_text}}"/>
          </a>
          <div class="media-body">
            <p>{{item.description}}</p>
            <a href="{{m.link(item.link)}}" class="btn btn-tnris btn-md">{{item.button_text|safe}}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock mapsdata_content %}
{% endblock contents %}
