{% extends "base.html" %} 

{% block contents %}

<div class="row">
    <div id="dataPageContent" class="col-md-9">
        <h1>{{ title }}</h1>
        <div class="mainBlurb">{{ contents|safe }}</div>
        <div class="row">
            <div class="col-md-12 media">
                <h3>Data Search &amp; Download</h3>
                <img class="media-object pull-left" src="http://www.tnris.org/sites/all/themes/rubik/cube/images/map_svc_historical.jpg">
                <p>The Quickest Way to search and download TNRIS data that is available online.</p>
                <p><strong>Note:</strong> Our Research &amp; Distribution Center has all other data</p>
                <a href="#" class="btn btn-tnris">Start Downloading</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 media">
                <h3>Research &amp; Distribution (RDC)</h3>
                <img class="media-object pull-left" src="http://www.tnris.org/sites/all/themes/rubik/cube/images/map_svc_custom.jpg"> 
                <p>Our staff of data and map specialists provide direct customer service and assistance with custom requests.</p>
                <p>Data not available online is found here.</p>
                <a href="#" class="btn btn-tnris">Order Data</a>
                <a href="#" class="btn btn-tnris">More Services</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Web Mapping Services</h3>
                <p>Data sets optimized for access through WMS.</p>
            </div>
            <div class="col-md-6">
                <h3>Custom Map Creation</h3>
                <p>Our trained cartographers can help you map what you need</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Educational Resources</h3>
                <p>Online tools to help you through basic GIS needs.</p>
            </div>
            <div class="col-md-6">
                <h3>Developers</h3>
                <p>TNRIS incorporates many open source technologies that are available to developers with interest</p>
            </div>
        </div>
    </div>

    <div id="mainDataList" class="col-md-3">
        <h2>Browse Data by Category</h2>
        <ul>
            <li><a href="#">Bathymetry (2)</a>
            </li>
            <li><a href="#">Boundary (7)</a>
            </li>
            <li><a href="#">
                Compressed Mosaic (4)</a>
            </li>
            <li><a href="#">
                Cultural (13)</a>
            </li>
            <li><a href="#">
                Demographics (5)</a>
            </li>
            <li><a href="#">
                Digital Ortho Quadrangle (DOQQ) (3)</a>
            </li>
            <li><a href="#">
                Digital Raster Graphics (DRG) (3)</a>
            </li>
            <li><a href="#">
                Elevation (3)</a>
            </li>
            <li><a href="#">
                Floodplain (11)</a>
            </li>
            <li><a href="#">
                Geology (7)</a>
            </li>
            <li><a href="#">
                Hydrography (4)</a>
            </li>
            <li><a href="#">
                Imagery (4)</a>
            </li>
            <li><a href="#">
                LandSAT (15)</a>
            </li>
            <li><a href="#">
                LiDAR (6)</a>
            </li>
            <li><a href="#">
                Natural Regions (3)</a>
            </li>
            <li><a href="#">
                Satellite Imagery (8)</a>
            </li>
            <li><a href="#">
                Transportation (8)</a>
            </li>
            <li><a href="#">
                Weather (7)</a>
            </li>
        </ul>


    </div>
</div>

{% endblock contents %}