{% extends "base.html" %}
{% import '_macros.html' as m %}

{% block contents %}
  <div class="row article">
    <div class="col-sm-12 col-md-8 blog-main">
      <h1 class="headline">{{ title }}</h1>
      <div class="byline">
        <strong>by <author>{{ author }}<author></strong> {% if division %}<em>{{ division }}</em>{% endif %} | <time>{{ date|date('F jS, Y') }}</time>
      </div>

      {% if mainimage %}
        <img class="media-object img-responsive center-block" src="{{ mainimage }}" alt="{{ imagealt }}">
      {% endif %}

      {{ contents|safe }}
    </div>

    {% block rightContent %}
      <div class="col-sm-12 col-md-4 blog-sidebar">
        <h3>More TNRIS Updates</h3>
        <ul class="gio-stories-list">
        {% set count = 1 %}
         {% for news_item in news %}
        {% if (news_item.id !== id) && count <= 5 %}
            {% set count += 1 %}
          <li class="media">
            <div class="media-left">
              <a href="{{m.link(news_item.preserved)}}"><img  src="{{news_item.thumbnail}}" alt="Thumbnail image for {{news_item.title}}"></a>
            </div>
            <div class="media-body">
              <time>{{ news_item.date|date('F jS, Y') }}</time>
              <h4 class="media-heading">
              <a href="{{m.link(news_item.preserved)}}">{{ news_item.title }}</a></h4>
              <p class="hidden-md hidden-lg">
                {{ news_item.description }}
              </p>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

      </div>
    {% endblock rightContent %}
  </div>
{% endblock contents %}

{% block contents-two %}
  {% include "./partials/highlights.html" %}
{% endblock contents-two %}
