{% extends "base.html" %}
{% import '_macros.html' as m %}

{% block contents %}
  <div class="row">
    <div class="col-sm-7" id="updates-front">
        <h2>{{ title }}</h2>
        {{ contents|safe }}
        <ul>
        {% for spotlight_item in spotlights %}
          {% if loop.index <= 10 %}
              <li class="media">
                <a class="pull-left" href="{{m.link(spotlight_item.preserved)}}"><img class="media-object" src="{{ spotlight_item.thumbnail }}" alt="{{spotlight_item.thumbalt}}">
                </a>
                <div class="media-body">
                  <h3 class="media-heading">
                    <a href="{{m.link(spotlight_item.preserved)}}">{{ spotlight_item.title }}</a>
                  </h3>
                   <div class="byline">
                    by <author>{{ spotlight_item.author }}<author> | <time>{{ spotlight_item.date|date('F jS, Y') }}</time> 
                   </div>
                    <p>
                      {{ spotlight_item.abstract | safe }}
                    </p>
                </div>
              </li>

          {% endif %}
        {% endfor %}
      </ul>
    </div>

    {% block rightContent %}
      <div class="col-sm-5 blog-sidebar">
      </div>
    {% endblock rightContent %}
  </div>
{% endblock contents %}
