{% extends "full-top-page.html" %}
{% import '_macros.html' as m %}

{% block extracontent %}
<h2>2015 Course Schedule</h2>
<div class="training-list">
	<div class="row head hidden-xs">
		<div class="col-xs-2">Date and Time</div>
		<div class="col-xs-6">Course Title</div>
		<div class="col-xs-2">Instructor</div>
		<div class="col-xs-1">Cost</div>
		<div class="col-xs-1">Status</div>
	</div>
  {% for event in training %}
  	<div class="row training-header">
	  	<div class="col-xs-3 col-sm-2">
	  		<strong>{{event.date}}</strong><br>{{event.time}}
	  	</div>
	  	<div class="col-xs-9 col-sm-6">
	  		<h3><a href="{{m.link(event.path)}}">{{event.class_title}}</a></h3></div>
	    <div class="col-xs-3 col-sm-2 course-info">
	    	<strong>Taught by:</strong> <br>{{event.instructor}}
	    </div>
	    <div class="col-xs-3 col-sm-1 course-info">
	    	{{event.cost}}
	    </div>
	    <div class="col-xs-3 col-sm-1 course-info">
	    	{{event.status}}
	    </div>
	</div>
	<div class="row course-description">
    	<div class="col-xs-3 col-sm-2">	
    	</div>
    	<div class="col-xs-9 col-sm-8">
    		{{event.teaser}}
    	</div>
    	<div class="col-sm-1">    		
    		<a class="btn btn-default btn-sm" href="{{m.link(event.path)}}"><span class="glyphicon glyphicon-info-sign"></span>
    			Full Info
    		</a>
    	</div>
    	<div class="col-sm-1">
    	</div>
    </div>
  {% endfor %}
 </div>
{% endblock extracontent %}

{% block sidebarLeft %}
	<h3>Training Facilities</h3>
	<h4>TCEQ Computer Training Lab</h4>
	<address>
		12100 Park Thirty Five Circle<br>
		Building A, Room 234/235<br>
		Austin, TX 78753
	</address>
	<a href="https://www.google.com/maps?ll=30.394181,-97.669122&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=1320330449009717661" target="blank"><span class="glyphicon glyphicon-new-window"></span> View Map</a>
{% include "./partials/course-cancellation.html" %}

{% endblock sidebarLeft %}
