{% extends "base.html" %}
{% import '_macros.html' as m %}

{% block contents %}
  <div class="row">
    <div class="col-sm-7" id="updates-front">
      <h2>{{ title }}</h2>
      {{ contents|safe }}

      <ul class="news-list list-clean">
        {% set pagination_end = pagination.end + 1 %}
        {% for news_item in news.slice(pagination.start, pagination_end) %}
          <li class="media">
            <a class="pull-left" href="{{m.link(news_item.preserved)}}"><img class="media-object" src="{{ news_item.thumbnail }}" alt="{{news_item.thumbalt}}">
            </a>
            <div class="media-body">
              <h3 class="media-heading">
                <a href="{{m.link(news_item.preserved)}}">{{ news_item.title }}</a>
              </h3>
               <div class="byline">
                by <author>{{ news_item.author }}<author> | <time>{{ news_item.date|date('F jS, Y') }}</time>
               </div>
                <p>
                  {{ news_item.abstract | safe }}
                </p>
            </div>
          </li>
        {% endfor %}
      </ul>

      {% if pagination %}
        <nav>
          <ul class="pager">
            {% if pagination.prev %}
              <li>
                <a href="{{ pagination.prev.path }}">
                  <span aria-hidden="true">&larr;</span> Newer
                </a>
              </li>
            {% else %}
              <li class="disabled"><a href="#"><span aria-hidden="true">&larr;</span> Newer</a></li>
            {% endif %}
            {% if pagination.next %}
              <li>
                <a href="{{ pagination.next.path }}">
                  Older <span aria-hidden="true">&rarr;</span>
                </a>
              </li>
            {% else %}
              <li class="disabled"><a href="#">Older <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}
    </div>

    {% block rightContent %}
      <div class="col-sm-5 blog-sidebar">
      </div>
    {% endblock rightContent %}
  </div>
{% endblock contents %}
