{% extends "data-catalog.html" %}
{% import '_macros.html' as m %}

{% block contents %}
  <div class="row">
    {% block category_nav  %}
      <div class="col-md-4 wms-nav-container">
        <ul class="nav hidden-sm hidden-xs nav-cat" data-spy="affix">
          <lh><h4>Jump to WMS Layers</h4></lh>
          {% for wms_category in catalog|sortBy('wms_category')|groupBy('wms_category') %}
            <li>
              <a href="#{{loop.key|urlize}}">{{loop.key}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endblock category_nav %}
    <div id="dataPageContent" class="col-md-8">
      {% block catalog_content %}
        <h1>{{title}}</h1>
        <div class="mainBlurb">{{abstract}}</div>
        {{contents|safe}}
        {% for wms_category in catalog|sortBy(['wms_category', 'name'])|groupBy('wms_category') %}
          {% if loop.key %}
            <section id="{{loop.key|urlize}}" class="service">
              <h2>
                {{loop.key}}
              </h2>
              <ul class="media-list list-group">
                {% for catalog_entry in wms_category %}
                  <li class="media list-group-item">
                    {% if catalog_entry.thumb %}
                       <a class="media-left" href="{{catalog_entry.wms_link}}">
                         <img class="media-object" src="{{catalog_entry.thumb}}" alt="...">
                       </a>
                      {% else %}
                       <a class="media-left" href="{{m.link(catalog_entry.path)}}">
                         <img class="media-object" src="holder.js/75x75" alt="...">
                       </a>
                    {% endif %}
                    <div class="media-body">
                    <h3 class="list-group-item-heading">
                      <a href="{{m.link(catalog_entry.path)}}" class="wms-tip" title="More about this dataset">
                          {{catalog_entry.name}}
                      </a>
                      <small>{{catalog_entry.wms_link}}</small>
                      <a class="badge pull-right" href="#" title="Copy the WMS URL">
                        <i class="fa fa-files-o"></i>
                        Copy URL
                      </a>
                    </h3>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}
        {% endfor %}
      {% endblock catalog_content %}
    </div>
  </div>
{% endblock contents %}
