<div class="container">
    <h2>A Statewide Resource</h2>
    <figure class="pull-right">
        <h3>Acquisition Time Frames Map</h3>
        <a href="#time-frames-map" data-toggle="modal">
            <img alt="Acquistion Time Frames map thumbnail" src="../images/statewide-orthoimagery/2015_stateorthos_acquisition_sm.jpg">
          <figcaption class="text-right"><span class="glyphicon glyphicon-search"></span> Click for larger view</figcaption>
        </a>
    </figure>
    <div class="modal fade" id="time-frames-map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h3>Acquisition Time Frames Map</h3>
                </div>
                <div class="modal-body">
                    <img class="img-responsive" src="images/statewide-orthoimagery/2015_stateorthos_acquisition.jpg" alt="Full version of the Time Frames Acquistition Map">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <p class="lead">The 2014-2015 Statewide Texas Orthoimagery Project fulfills the charge led by TNRIS to develop aerial imagery statewide as a base map resource for state, regional, and local government entities.</p>

    <p class="lead">The project regularly acquires consistent and updated aerial imagery in order to develop geospatial products throughout Texas. These data are used to identify current conditions, features, and changes on the ground serving as a base of reference for other map information.</p>

    <p class="lead">Follow regular updates as we continue <a class="smooth-scroll" href="#project-updates">updating this page with weekly status reports</a> and other news.</p>
</div>
<div class="container">
    <h2>Project Timeline</h2>
    <div class="row">
        <div class="timeline">
            <div class="bar hidden-xs"></div>
            <div class="bar-vertical"></div>
            <div class="col-sm-2">
                <div class="timeframe">
                    <h4>October 25, 2014</h4>
                    <em>Leaf-off conditions</em>
                </div>
                <div class="phase phase-1">Begin Data Acquisition</div>
            </div>
            <div class="col-sm-2">
                <div class="timeframe">
                    <h4>March 15, 2015</h4>
                    <em>Leaf-off conditions</em>
                </div>
                <div class="phase phase-1">End Data Acquisition</div>
            </div>
            <div class="col-sm-2">
                <div class="timeframe">
                    <h4 class="sticky">Summer to Fall 2015</h4>
                </div>
                <div class="phase phase-2">Orthoimagery Phased Deliveries</div>
            </div>
            <div class="col-sm-2">
                <div class="timeframe">
                    <h4 class="sticky">Fall to Winter 2015</h4>
                </div>
                <div class="phase phase-2">QA/QC Phased Approvals</div>
            </div>
            <div class="col-sm-4">
                <div class="timeframe">
                    <h4 class="sticky">Winter 2015</h4>
                </div>
                <div class="phase phase-3 no-bottom"><strong>Project Close-Out</strong>
                    <br> &amp; Orthoimagery Public Availablity</div>
            </div>
        </div>
    </div>
</div>
