<h2>A Statewide Resource</h2>
<p class="lead">The 2014-2015 Statewide Texas Orthoimagery Project fulfills the charge led by TNRIS to develop aerial imagery statewide as a base map resource for state, regional, and local government entities.</p>

<p class="lead">The project regularly acquires consistent and updated aerial imagery in order to develop geospatial products throughout Texas. These data are used to identify current conditions, features, and changes on the ground serving as a base of reference for other map information.</p>

<p class="lead">Follow regular updates as we continue <a class="smooth-scroll" href="#project-updates">updating this page with weekly status reports</a> and other news.</p>

<h2>Project Timeline</h2>

<p class="lead">A generalized timeline for project goals and deliverables.</p>

<img class="img-responsive img-expand" src="../images/statewide-orthoimagery/timeline_2.jpg" alt="A timeline showing project milestones and estimated dates of completion">

<div class="row timeline">
  <div class="bar"></div>
  <div class="col-sm-2">
    <div class="phase 1">Begin Data Acquisition</div>
  </div>
  <div class="col-sm-2">
    <div class="phase 1">End Data Acquisition</div>
  </div>
  <div class="col-sm-2">
    <div class="phase 2">Orthoimagery Phased Deliveries</div>
  </div>
  <div class="col-sm-2">
    <div class="phase 2">QA/QC Phased Approvals</div>
  </div>
  <div class="col-sm-4">
    <div class="phase 3"><strong>Project Close-Out</strong> &amp; Orthoimagery Public Availablity</div>
  </div>
</div>
